<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/all.css">
<title>Document</title>
</head>

<style>


</style>

<body>
  <div class="container">
      <div class="card">
        <img src="../../原素材/perspective-front-1.JPG"  class="card-img-top" alt="">
      <nav class="card-body">
        <h2 class="card-title">Audi R8</h2>
        <ul>
          <li class="card-price">NT$ 195 </li>
          <li button class="btn btn--link text-secondary">收藏</li>
        </ul>
        <button class="btn btn--fluld">加入購物車</button>
      </nav>  
  </div>
        

  



  </div>
</body>

</html>