<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/all.css">
<title>Progress</title>
</head>

<body>
    <div class="container">

        <!-- your code here... -->
        <div class="row">

            <ul class="progress">
                <li class="progress__active">1
                    <p class="progress__text">確認訂單</p>
                </li>
                <li class="progress__nomal">2
                    <p class="progress__text">填寫訂購資料</p>
                </li>
                <li class="progress__nomal">3</li>
                <li class="progress__nomal">4</li>
                <li class="progress__nomal">5</li>
            </ul>


            <ul class="progress">
                <li class="progress__active ">1</li>
                <li class="progress__active">2</li>
                <li class="progress__active">3</li>
                <li class="progress__nomal">4
                    <p class="progress__text">填寫訂購資料</p>
                </li>
                <li class="progress__nomal">5
                    <p class="progress__text">填寫訂購資料</p>
                </li>
            </ul>

        </div>




    </div>
</body>

</html>