package-lock.json
node_modules/.bin/node
node_modules/.bin/node.cmd
node_modules/.bin/node.ps1
node_modules/node/installArchSpecificPackage.js
node_modules/node/package.json
node_modules/node/README.md
node_modules/node/bin/node
node_modules/node/bin/node.exe
node_modules/node/node_modules/.bin/node
node_modules/node/node_modules/.bin/node.cmd
node_modules/node/node_modules/.bin/node.ps1
node_modules/node/node_modules/node-win-x64/package.json
node_modules/node/node_modules/node-win-x64/bin/node.exe
node_modules/node-bin-setup/index.js
node_modules/node-bin-setup/package.json
