$sizeList : (
    '25' : 25%,
    '33': 33%,
    '50' : 50%,
    '100' : 100%,);

    @each $key,$val in $sizeList {
        .w-#{$key} {
            width: #{$val};
        }
    }
    @include rwd-md {
        @each $key,$val in $sizeList {
            .w-md-#{$key} {
                width: #{$val};
            }
        }
    }