<footer class="footer">
    <div class="container">
        <ul class="row py-10">
            <li class="col-3 col-lg-3 col-sm-4 mb-sm-4">
                <h4 class="footer__title">商品相關</h4>
                <nav>
            <li><a href="#" class="link w-100 py-2 px-sm-10">商品一覽</a></li>
            <li><a href="#" class="link w-100 py-2 px-sm-10">本月主打</a></li>
            <li><a href="#" class="link w-100 py-2 px-sm-10">車車工廠</a></li>
            <li><a href="#" class="link w-100 py-2 px-sm-10">車車圖鑑</a></li>
            <li><a href="#" class="link w-100 py-2 px-sm-10">退貨機制</a></li>
            </nav>
            </li>
            <li class="col-3 col-lg-3 col-sm-4 mb-sm-4">
                <h4 class="footer__title">會員權益</h4>
                <nav>
            <li><a href="#" class="link w-100 py-2 px-sm-10">會員Q&A</a></li>
            <li><a href="#" class="link w-100 py-2 px-sm-10">訊息公告</a></li>
            <li><a href="#" class="link w-100 py-2 px-sm-10">會員機制說明</a></li>
            <li><a href="#" class="link w-100 py-2 px-sm-10">隱私權政策</a></li>
            <li><a href="./policy.html" class="link w-100 py-2 px-sm-10">服務條款</a></li>
            </nav>
            </li>
            <li class="col-3 col-lg-3 col-sm-4 mb-sm-4">
                <h4 class="footer__title">關於Nino</h4>
                <nav>
            <li><a href="#" class="link w-100 py-2 px-sm-10">關於我們</a></li>
            <li><a href="#" class="link w-100 py-2 px-sm-10">合作夥伴</a></li>
            <li><a href="#" class="link w-100 py-2 px-sm-10">工作機會</a></li>
            <li><a href="#" class="link w-100 py-2 px-sm-10">媒體報導</a></li>
            </nav>
            </li>
            <li class="col-3 col-lg-3 col-sm-4">
                <h4 class="footer__title">聯絡我們</h4>
                <nav class="d-flex">
                    <img src="./assets/img/icon/icon-fb.svg" class="link icon">
                    <img src="./assets/img/icon/icon-ig.svg" class="link icon ml-5">
                </nav>
            </li>
        </ul>
        <div class="copyright">
            Copyright &copy; 2021 nino car
        </div>
</footer>