<script>
    Vue.component('modal-member', {
        template: '#modal-member',
        props: ['is-error', 'content', 'ui-state', 'sign-up-token', 'sign-up-account'],
        methods: {
            handleModalClose() {
                this.$emit('close');
            },
            handleContentChange(targetContent) {
                // this.content = targetContent;
                this.$emit('update:content', targetContent);
                this.$emit('update:isError', '');
            },
            handleLoginInform(account, password) {
                this.$emit('login', account, password)
            },
            handleSignUpInform(account, password) {
                this.$emit('sign-up', account, password)
            },
            handleSubmitTokenInform(token) {
                this.$emit('submit-token', token)
            },
            handleDoneAccountInform(account) {
                this.$emit('done-account', account)
            }
        },
    });
</script>

<template id="modal-member">
    <div class="modal">
        <div class="po-ab h-100 w-100" @click="handleModalClose"></div>
        <div class="modal__group modal__group--sm">
            <svg role="button" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 52 52"
                class="icon modal__btn modal__btn--close" @click="handleModalClose">
                <g transform="translate(0 0.47)">
                    <line x1="33.493" transform="translate(14.158 13.688) rotate(45)" fill="none" stroke="#522613"
                        stroke-linecap="round" stroke-width="5" />
                    <line x1="33.493" transform="translate(37.842 13.688) rotate(135)" fill="none" stroke="#522613"
                        stroke-linecap="round" stroke-width="5" />
                </g>
            </svg>
            <login-content v-if="content === 'login-content'" :login-error="isError" :btn-ui="uiState"
                @login="handleLoginInform" @change="handleContentChange">
            </login-content>
            <success-login-content v-else-if="content === 'success-login-content'"></success-login-content>
            <success-sign-up-content v-else-if="content === 'success-sign-up-content'"></success-sign-up-content>
            <log-out-content v-else-if="content === 'log-out-content'" @log-out="$emit('log-out')"
                @close="handleModalClose" :btn-ui="uiState"></log-out-content>
            <sign-up-content v-else-if="content === 'sign-up-content'" :account-error="isError" :btn-ui="uiState"
                @sign-up="handleSignUpInform" @done-account="handleDoneAccountInform" @change="handleContentChange">
            </sign-up-content>
            <confirm-token-content v-else-if="content === 'confirm-token-content'" :btn-ui="uiState"
                :email="signUpAccount" :correct-token="signUpToken" @submit="handleSubmitTokenInform">
            </confirm-token-content>
            <reset-password-content v-else-if="content === 'reset-password-content'" @reset="$emit('reset')"
                @change="handleContentChange">
            </reset-password-content>
        </div>
    </div>
</template>

<script src="./assets/js/mixins/InputMixins.js"></script>
@@include('./member/LoginContent.html')
@@include('./member/LogOutContent.html')
@@include('./member/SignUpContent.html')
@@include('./member/SuccessLoginContent.html')
@@include('./member/SuccessSignUpContent.html')
@@include('./member/ConfirmTokenContent.html')
@@include('./member/ResetPasswordContent.html')