<script>
    Vue.component('vue-header', {
        template: `
    <header class="header">
        <div class="container d-flex justify-content-between align-items-center po-re py-2">
            <svg role="button" aria-label=”menu” xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52" class="icon">
                <g transform="translate(-197.2 -223.548)">
                    <path d="M223.2,271.936a23.222,23.222,0,1,1,23.222-23.222A23.248,23.248,0,0,1,223.2,271.936Zm0-41.444a18.222,18.222,0,1,0,18.222,18.222A18.242,18.242,0,0,0,223.2,230.492Z" fill="#522613"/>
                    <path d="M233.116,246.609H213a2.5,2.5,0,0,1,0-5h20.113a2.5,2.5,0,0,1,0,5Z" fill="#522613"/>
                    <path  d="M233.116,257.135H213a2.5,2.5,0,0,1,0-5h20.113a2.5,2.5,0,0,1,0,5Z" fill="#522613"/>
                </g>
            </svg>
             <a href="#"><h1 class="logo">nino car</h1></a>
            <nav>
                <ul class="d-flex">
                    <li>
                        <svg role="button" aria-label="search" xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52" class="icon">
                            <g>
                                <circle cx="16.5" cy="16.5" r="16.5" transform="translate(7.175 5.413)" fill="none" stroke="#522613" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                                <circle cx="16.5" cy="16.5" r="10" transform="translate(7.175 5.413)" fill="none" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="hover-stroke-coffee"/>
                                <line x1="10" y1="10" transform="translate(35.163 34.349)" fill="none" stroke="#522613" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                            </g>
                        </svg>
                    </li>
                    <li class="ml-10" v-if="isLogin" @click="isLogin=false">
                        <a href="#" aria-label=”member”>
                            <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52" class="icon">
                                <g transform="translate(3 6.274)">
                                    <g  transform="translate(9 -3)" fill="none" stroke="#522613" stroke-width="5">
                                        <circle cx="14" cy="14" r="14" stroke="none"/>
                                        <circle cx="14" cy="14" r="11.5" fill="none"/>
                                    </g>
                                    <g transform="translate(4 27)" fill="none" stroke="#522613" stroke-width="5">
                                        <ellipse cx="18.5" cy="7.5" rx="18.5" ry="7.5" stroke="none"/>
                                        <ellipse cx="18.5" cy="7.5" rx="16" ry="5" fill="none"/>
                                    </g>
                                    <circle cx="2" cy="2" r="2" transform="translate(17 8.725)" class="hover-fill-coffee" fill="none"/>
                                    <circle cx="2" cy="2" r="2" transform="translate(25 8.725)" class="hover-fill-coffee" fill="none"/>
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li class="ml-10"  v-if="isLogin">
                        <a href="#" aria-label=”message”>
                            <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52" class="icon">
                                <g transform="translate(6.473 4.772)">
                                    <path d="M32.3,14.12a11.12,11.12,0,0,0-22.24,0C10.06,27.094,4.5,30.8,4.5,30.8H37.86S32.3,27.094,32.3,14.12" transform="translate(-1.601 -0.584)" fill="none" stroke="#522613" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                                    <path d="M22.932,31.5a4.351,4.351,0,0,1-7.527,0" transform="translate(0.413 6.835)" fill="none" stroke="#522613" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                                    <path d="M22.3,8.281S25.877,9.8,25.621,18.86" fill="none" stroke="none" stroke-linecap="round" stroke-width="3" class="hover-stroke-coffee"/>
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li class="ml-10" v-if="!isLogin" @click="isLogin=true">
                        <button class="link--login">登入 / 註冊</button>
                    </li>
                </ul>         
            </nav>
        </div> 
        <div class="container">
            <nav class="link-group">
                <ul>
                    <li>
                        <a href="#" aria-label=”cart”>
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 80 80" class="icon">
                                <g transform="translate(-715 -383)">
                                    <circle cx="40" cy="40" r="37" transform="translate(715 383)" fill="#fadd61"  stroke="#ffffff" stroke-width="3"/>
                                    <g transform="translate(734 402.037)">
                                    <path  d="M16.627,32.313A2.313,2.313,0,1,1,14.313,30,2.313,2.313,0,0,1,16.627,32.313Z" transform="translate(0.072 4.523)" fill="none" stroke="#522613" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                                    <path d="M16.627,32.313A2.313,2.313,0,1,1,14.313,30,2.313,2.313,0,0,1,16.627,32.313Z" transform="translate(19.072 4.523)" fill="none" stroke="#522613" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                                    <path  d="M1.5,1.5H8.97l5,25.006a3.735,3.735,0,0,0,3.735,3.007H35.862A3.735,3.735,0,0,0,39.6,26.506l2.988-15.668H10.837" transform="translate(-2.5 1.276)" fill="none" stroke="#522613" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                                    <line  x1="6" transform="translate(-3 23.462)" fill="none" stroke="none" stroke-linecap="round" stroke-width="4" class="hover-stroke-coffee"/>
                                    <line x1="6" transform="translate(-1 30.462)" fill="none" stroke="none" stroke-linecap="round" stroke-width="4" class="hover-stroke-coffee"/>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-label=”top” v-show="isTopBtnVisible" @click.prevent="scrollTop">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 80 80" class="icon">
                                <g transform="translate(-1660 -805)">
                                    <g transform="translate(76 -122.041)">
                                        <circle cx="40" cy="40" r="37" transform="translate(1584 927.041)" fill="#fadd61" stroke="#ffffff" stroke-width="3"/>
                                    </g>
                                    <text transform="translate(1700 862)" fill="#522613" font-size="32" font-family="NotoSans-Bold, Noto Sans" font-weight="700"><tspan x="-31.891" y="0">TOP</tspan></text>
                                    <g transform="translate(1995.252 1047.249) rotate(180)">
                                    <path d="M301.122,234.488a1.2,1.2,0,0,1-.864-.366l-6.664-6.875a1.2,1.2,0,0,1,1.729-1.676l5.741,5.922,4.986-5.864a1.2,1.2,0,0,1,1.834,1.559l-5.845,6.875a1.2,1.2,0,0,1-.878.423Z" transform="translate(-5.703 -8.294)" fill="#522613"/>
                                    </g>
                                    <g transform="translate(1995.252 1037.967) rotate(180)">
                                    <path d="M301.122,234.488a1.2,1.2,0,0,1-.864-.366l-6.664-6.875a1.2,1.2,0,0,1,1.729-1.676l5.741,5.922,4.986-5.864a1.2,1.2,0,0,1,1.834,1.559l-5.845,6.875a1.2,1.2,0,0,1-.878.423Z" transform="translate(-5.703 -8.294)" fill="none" class="hover-fill-coffee"/>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div> 
    </header>
        `,
        data() {
            return {
                username: '',
                isLogin: true,
                isTopBtnVisible: false,
            }
        },
        created() {
            document.addEventListener = ('scroll', this.changeColor)
        },
        methods: {
            scrollTop() {
                this.intervalId = setInterval(() => {
                    if (window.pageYOffset === 0) {
                        clearInterval(this.intervalId)
                    }
                    window.scroll(0, window.pageYOffset - 50)
                }, 20)
            },
            scrollListener() {
                this.isTopBtnVisible = window.scrollY > 100
            }
        },
        mounted() {
            window.addEventListener('scroll', this.scrollListener)
        },
        beforeDestroy() {
            window.removeEventListener('scroll', this.scrollListener)
        }
    });
</script>