<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>

<script>
  Vue.component('vue-header', {
    template: `
        <header class="header">
        <div class="container d-flex justify-content-between align-items-center po-re py-2">
            <div class="d-flex align-items-center">
                <a href="./index.html" class="logo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="160" height="30" viewBox="0 0 160 30">
                        <g  transform="translate(-2903 -1670)">
                            <path d="M70.215,346.391c0,1.045.156,2.2-.3,2.786-.422.585-1.292.446-2.558.446s-2.068.139-2.49-.446c-.454-.591-.364-1.74-.364-2.786V330.422c0-1.4,1-2.284,3.178-2.284a4.18,4.18,0,0,1,3.892,1.958l7.2,9.927v-8.653c0-1.046-.112-2.2.342-2.785.419-.585,1.248-.447,2.511-.447s2.024-.139,2.446.447a5.163,5.163,0,0,1,.41,2.785v16c0,1.566-1.006,2.35-2.758,2.35a3.937,3.937,0,0,1-3.5-1.862l-8.01-10.545Z" transform="translate(2842.501 1345.877)" fill="#3f1b0f"/>
                            <path  d="M112.247,344.522a6.062,6.062,0,0,0,2.272-.457,10.145,10.145,0,0,1,2.745-.943c1.525,0,1.828,2.021,1.828,3.2,0,.912.022,1.472-1.017,2.093a14.035,14.035,0,0,1-6.12,1.5c-6.066,0-10.574-4.146-10.574-10.9,0-7.25,5.157-10.942,10.737-10.942a13.91,13.91,0,0,1,5.936,1.213c1.1.651,1.039,1.5,1.039,2.381,0,1.143-.228,2.972-1.85,2.972a9.713,9.713,0,0,1-2.918-.72,6.184,6.184,0,0,0-2.272-.457c-2.564,0-4.7,1.8-4.7,5.489C107.35,342.826,109.751,344.522,112.247,344.522Z" transform="translate(2897.619 1345.936)" fill="#512616"/>
                            <path  d="M122.969,345.248h-7.234l-.941,2.372c-.681,1.892-1.136,2-3.178,2-1.85,0-2.652-.452-2.652-1.5a5.037,5.037,0,0,1,.478-1.639l6.618-15.806c.682-1.666,1.46-2.546,3.535-2.546,2.109,0,2.791.912,3.44,2.546l6.388,15.839a5.8,5.8,0,0,1,.352,1.566c0,1.174-.969,1.536-2.816,1.536-1.947,0-2.266.229-3.013-1.794Zm-5.612-4.506h4.021l-2.012-5.487Z" transform="translate(2910.036 1346.06)" fill="#3f1b0f"/>
                            <path  d="M123.64,346.432a5.09,5.09,0,0,1-.418,2.684c-.422.585-1.14.548-2.373.548s-1.941.038-2.363-.548a5.084,5.084,0,0,1-.426-2.684v-14.6c0-1.176,0-2.581,2.077-3.235a15.671,15.671,0,0,1,4.508-.487,13.065,13.065,0,0,1,5.579.977,5.962,5.962,0,0,1,3.567,5.781,6.363,6.363,0,0,1-3.31,5.846l3.824,5.1,1.091,1.4c1.036,1.4-.047,2.448-2.838,2.448-2.142,0-2.675-.39-3.681-1.923l-2.515-3.923c-.581-.915-1.036-1.794-1.036-1.794H123.64Zm0-8.915s.454.033.906.033c2.4,0,3.343-.948,3.343-2.353,0-1.634-1.266-2.154-2.951-2.154a9,9,0,0,0-1.3.1Z" transform="translate(2924.037 1346.019)" fill="#3f1b0f"/>
                            <g class="logo__child">
                                <path d="M79.843,341.791c0,.554-.059.947-.5,1.152a5.991,5.991,0,0,1-2.464.281c-1.441,0-1.988-.024-2.488-.336s-.506-.8-.506-1.349l-.281-6.326c0-2.74,1.4-3.408,3.275-3.408,1.763,0,3.272.449,3.272,3.508Z" transform="translate(2857.399 1352.276)" fill="#3f1b0f"/>
                                <path  d="M3.014,6.028A3.014,3.014,0,1,1,6.028,3.014,3.018,3.018,0,0,1,3.014,6.028ZM3,3.808c-.763,0-1.133.126-1.133.387a.83.83,0,0,0,.384.547A1.335,1.335,0,0,0,3,5.036a1.335,1.335,0,0,0,.749-.294.83.83,0,0,0,.384-.547C4.13,3.935,3.76,3.808,3,3.808Z" transform="translate(2931.234 1677.165)" fill="#3f1b0f" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                            </g>
                            <path  d="M70.215,346.391c0,1.045.156,2.2-.3,2.786-.422.585-1.292.446-2.558.446s-2.068.139-2.49-.446c-.454-.591-.364-1.74-.364-2.786V330.422c0-1.4,1-2.284,3.178-2.284a4.18,4.18,0,0,1,3.892,1.958l7.2,9.927v-8.653c0-1.046-.112-2.2.342-2.785.419-.585,1.248-.447,2.511-.447s2.024-.139,2.446.447a5.163,5.163,0,0,1,.41,2.785v16c0,1.566-1.006,2.35-2.758,2.35a3.937,3.937,0,0,1-3.5-1.862l-8.01-10.545Z" transform="translate(2877.501 1345.877)" fill="#3f1b0f"/>
                        </g>
                        <g>
                            <path  d="M97.356,328.182a10.935,10.935,0,1,0,10.861,10.936A10.941,10.941,0,0,0,97.356,328.182Zm0,4.315a6.627,6.627,0,0,1,6.307,4.764.5.5,0,0,0-.254-.275,13.651,13.651,0,0,0-12.108,0,.5.5,0,0,0-.254.275A6.627,6.627,0,0,1,97.356,332.5Zm-6.447,7.925a.5.5,0,0,0,.414.37l1.209.169a3.555,3.555,0,0,1,2.991,3.011l.168,1.217a.5.5,0,0,0,.3.389A6.655,6.655,0,0,1,90.908,340.423Zm6.447.215a1.521,1.521,0,1,1,1.509-1.519A1.519,1.519,0,0,1,97.356,340.638Zm1.366,4.941a.5.5,0,0,0,.3-.389l.168-1.217a3.557,3.557,0,0,1,2.991-3.011l1.209-.169a.507.507,0,0,0,.416-.37A6.658,6.658,0,0,1,98.721,345.579Z" transform="translate(-23.492 -324.04)" fill="#3f1b0f"/>
                            <animateTransform attributeName="transform" dur="2s" type="rotate" values="-30 73.8 14.9;30 73.8 14.9;-30 73.8 14.9" additive="sum" repeatCount="indefinite"></animateTransform>
                        </g>
                    </svg>
                    <h1 class="logo__h1">NINO CAR</h1>
                </a>
                <form class="d-md-none ml-5 po-re">
                    <input type="text" class="search-bar__input" placeholder="想找什麼車？"  v-model='searchItem' />
                    <button class="search-bar__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 52 52" class="icon">
                            <g>
                                <circle cx="16.5" cy="16.5" r="16.5" transform="translate(7.175 5.413)" fill="none"
                                    stroke="#522613" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" />
                                <circle cx="16.5" cy="16.5" r="10" transform="translate(7.175 5.413)" fill="none"
                                    stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    class="hover-stroke-coffee" />
                                <line x1="10" y1="10" transform="translate(35.163 34.349)" fill="none" stroke="#522613"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="5" />
                            </g>
                        </svg>
                    </button>
                </form>
            </div>
            <nav>
                <ul class="d-flex align-items-center">
                    <li class="lg-1" v-if="isLogin">
                        <a href="membermain.html" aria-label="member">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 52 52"
                                class="icon">
                                <g transform="translate(3 6.5)">
                                    <g transform="translate(9 -1)" fill="none" stroke="#522613" stroke-width="5">
                                        <circle cx="14" cy="14" r="14" stroke="none" />
                                        <circle cx="14" cy="14" r="11.5" fill="none" />
                                    </g>
                                    <g transform="translate(4 29)" fill="none" stroke="#522613" stroke-width="5">
                                        <ellipse cx="18.5" cy="7.5" rx="18.5" ry="7.5" stroke="none" />
                                        <ellipse cx="18.5" cy="7.5" rx="16" ry="5" fill="none" />
                                    </g>
                                    <circle cx="2" cy="2" r="2" transform="translate(17 8.725)"
                                        class="hover-fill-coffee" fill="none" />
                                    <circle cx="2" cy="2" r="2" transform="translate(25 8.725)"
                                        class="hover-fill-coffee" fill="none" />
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li class="lh-1 ml-10 ml-sm-5" v-if="isLogin">
                        <a href="MemberNotice.html" aria-label="message" @click.prevent="sendMail">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 52 52"
                                class="icon">
                                <g transform="translate(6.473 4.772)">
                                    <path
                                        d="M32.3,14.12a11.12,11.12,0,0,0-22.24,0C10.06,27.094,4.5,30.8,4.5,30.8H37.86S32.3,27.094,32.3,14.12"
                                        transform="translate(-1.601 -0.584)" fill="none" stroke="#522613"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="5" />
                                    <path d="M22.932,31.5a4.351,4.351,0,0,1-7.527,0" transform="translate(0.413 6.835)"
                                        fill="none" stroke="#522613" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="5" />
                                    <path d="M22.3,8.281S25.877,9.8,25.621,18.86" fill="none" stroke="none"
                                        stroke-linecap="round" stroke-width="3" class="hover-stroke-coffee" />
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li v-if="!isLogin">
                        <button class="header__btn" @click="handleLoginModalShow">登入 / 註冊</button>
                    </li>
                    <li class="ml-10 ml-sm-5 lh-1">
                        <svg role="button" aria-label="menu" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                            viewBox="0 0 50 50" class="icon" v-if="!isMenuShow" @click="isMenuShow=true">
                            <circle cx="25" cy="25" r="23" fill="none" stroke="#522613" stroke-width="4"
                                class="hover-fill-white" />
                            <line x1="15" y1="17" x2="35" y2="17" stroke="#522613" stroke-width="4"
                                stroke-linecap="round" />
                            <line x1="15" y1="25" x2="35" y2="25" stroke="#522613" stroke-width="4"
                                stroke-linecap="round" />
                            <line x1="15" y1="32" x2="35" y2="32" stroke="#522613" stroke-width="4"
                                stroke-linecap="round" />
                        </svg>
                        <svg role="button" aria-label="close" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                            viewBox="0 0 50 50" class="icon close-icon" v-if="isMenuShow" @click="isMenuShow=false">
                            <circle cx="25" cy="25" r="23" fill="#fff" stroke="#522613" stroke-width="4" />
                            <line x1="15" y1="15" x2="35" y2="35" stroke="#522613" stroke-width="4"
                                stroke-linecap="round" />
                            <line x1="15" y1="35" x2="35" y2="15" stroke="#522613" stroke-width="4"
                                stroke-linecap="round" />
                        </svg>
                    </li>
                </ul>
            </nav>
        </div>
        <link-group />
        <transition name="fade">
            <modal-member v-if="isLoginModalShow" :is-error.sync="modalState['isError']" :content.sync="modalState['content']"
             :ui-state="modalState['uiState']" :sign-up-token="signUpInfo['token']" :sign-up-account="signUpInfo.account" 
             @close="handleLoginModalClose" @login="handleLogin" @log-out="handleLogOut" @sign-up="handleSignUp" 
             @submit-token="handleCompleteSignUp" @done-account="handleAccountIsValidCheck"/>
        </transition>
        <transition name="collapse">
            <nav-menu v-if="isMenuShow" @search_props_item="searchChange"  :login="isLogin" @log-out="handleLogOut"></nav-menu>
        </transition>
        <div class="modal-active" v-if="isMenuShow" @click="isMenuShow=false"></div>
    </header>`,
    props: ['modalStateContent'],
    data() {
      return {
        memberId: '',
        secretKey: 'nino',
        isLogin: false,
        isMenuShow: false,
        modalState: {
          isError: '',
          content: this.modalStateContent || 'login-content',
          uiState: '',
        },
        signUpInfo: {
          account: '',
          password: '',
          token: '',
        },
        searchItem: '',
      }
    },
    mounted() {
      const storageMemberId = localStorage.getItem('memberId');
      if (storageMemberId) {
        const rawMemberId = CryptoJS.AES.decrypt(storageMemberId, this.secretKey).toString(CryptoJS.enc
          .Utf8);
        console.log(rawMemberId)
        this.memberId = rawMemberId;
        this.isLogin = true;
        this.$store.commit('setMemberId', rawMemberId);
      }
    },
    store,
    watch: {
      modalStateContent(val) {
        this.modalState.content = val;
      },
      searchItem(val) {
        this.$emit('search_item', val);
      },
    },
    computed: {
      isLoginModalShow() {
        return this.$store.state.isLoginModalShow
      },
    },
    methods: {
      searchChange(val) {
        this.$emit('search_item', val);

      },
      handleLoginModalClose() {
        this.$store.commit('setLoginModalShow', false);
        this.modalState.isError = '';
        if (this.modalStateContent) {
          console.log('update to login')
          this.$emit('update:modalStateContent', 'login-content')
        } else {
          this.modalState.content = 'login-content'
        }
      },
      handleLoginModalShow() {
        this.$store.commit('setLoginModalShow', true);
      },
      handleAccountIsValidCheck(theAccount) {
        this.modalState.isError = '';
        axios.post('./assets/php/getMemberInfo.php', {
            "account": theAccount,
          }).then(res => {
            console.log(res)
            if (Array.isArray(res.data)) {
              this.modalState.isError = '此帳號已被註冊';
            } else {
              this.modalState.isError = '';
            }
          })
          .catch(error => {
            console.log(error)
          });

      },

      handleLogin(theAccount, thePassword) {
        this.modalState.isError = '';
        this.modalState.uiState = 'loading';
        axios.post('./assets/php/login.php', {
          "account": theAccount,
          "password": thePassword
        }).then(res => {
          console.log(res)
          this.modalState.uiState = '';

          if (Array.isArray(res.data)) {
            this.modalState.content = 'success-login-content';
            this.handleLoginKeep(res.data[0]['member_id']);
            setTimeout(() => {
              this.$store.commit('setLoginModalShow', false);
            }, 3000)

            const params = new URLSearchParams()
            params.append('ID', res.data[0]['member_id'])

            axios({
              method: 'post',
              url: 'assets/php/setMemberCoupon.php',
              headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
              },
              data: params,
            }).then((res) => {
              console.log(res);
            }).catch((error) => {
              console.log(error)

            })


          } else {
            this.modalState.isError = res.data;
          }
        }).catch(error => {
          console.log(error)
        });

      },
      handleLoginKeep(rawMemberId) {
        this.isLogin = true;
        this.memberId = rawMemberId;
        // crypto加密
        const encryptedId = CryptoJS.AES.encrypt(rawMemberId, this.secretKey).toString()
        localStorage.setItem('memberId', encryptedId);
        this.$store.commit('setMemberId', rawMemberId);
      },
      handleLogOut() {
        this.isMenuShow = false;
        this.isLogin = false;
        this.modalState.content = 'login-content';
        this.$store.commit('setMemberId', '');
        localStorage.removeItem('memberId');
        //會員頁寫判斷式回首頁
        //window.location = 'http://localhost:8080/nino-scss/dist/index-front.html'
      },
      handleSignUp(theAccount, thePassword) {
        if (this.modalState.isError === '') {
          this.signUpInfo.account = theAccount;
          this.signUpInfo.password = thePassword;
          this.modalState.uiState = '傳送認證信中';
          let templateParams = {
            token: Math.floor(Math.random() * 1000),
            userMail: theAccount,
          }

          let service_id = "service_p77rlm2";
          let template_id = "template_8r123bp";
          let userID = "user_DeGKwX1jMT522C5BEPsyo"
          emailjs.send(service_id, template_id, templateParams, userID)
            .then((response) => {
              console.log('SUCCESS! 寄出驗證信');
              this.modalState.uiState = '';
              this.signUpInfo.token = templateParams.token;
              this.modalState.content = 'confirm-token-content'
            })
            .catch((error) => {
              console.log('FAILED...', error);
              this.modalState.isError = error;
            })
        }

      },
      handleCompleteSignUp() {
        this.modalState.uiState = 'loading';
        axios.post('./assets/php/signUp.php', {
            "account": this.signUpInfo.account,
            "password": this.signUpInfo.password
          })
          .then(res => {
            console.log(res)
            this.modalState.uiState = '';
            if (Array.isArray(res.data)) {
              this.modalState.content = 'success-sign-up-content';
              this.handleLoginKeep(res.data[0]['member_id']);
              setTimeout(() => {
                this.$store.commit('setLoginModalShow', false);
              }, 3000)
              this.handleSendSuccessSignUpMail(this.signUpInfo.account);

              const params = new URLSearchParams()
              params.append('ID', res.data[0]['member_id'])

              axios({
                method: 'post',
                url: 'assets/php/setMemberCoupon.php',
                headers: {
                  'Content-Type': 'application/x-www-form-urlencoded',
                },
                data: params,
              }).then((res) => {
                console.log(res);
              }).catch((error) => {
                console.log(error)

              })

            } else {
              this.modalState.isError = res.data;
              throw new Error(res.data);
            }
          })
          .catch(error => {
            console.log(error)
          });
      },
      handleSendSuccessSignUpMail(account) { //問老師寫在上面? //能讀data值嗎
        axios.post(
          `./assets/php/sendSuccessSignUpMail.php`, {
            "account": account,
          }
        ).then(res => {
          console.log(res)
        }).catch(err => {
          console.log(err);
        })

      },

    }

    // handleLogin(theAccount, thePassword) {
    //     console.log(theAccount, thePassword)
    //     const qs = QS;
    //     const json = {
    //         "account": theAccount,
    //         "password": thePassword
    //     }
    //     axios.post('http://localhost:8080/nino-scss/app/assets/php/login.php', json, {
    //             //配置`transformRequest` ，在向伺服器傳送前，修改請求資料，axios會根據修改後的資料，自動設定請求頭
    //             transformRequest: [function (data) {
    //                 return qs.stringify(data); //把資料轉化為QueryString
    //             }]
    //         }).then(res => {
    //             console.log(res)
    //         })
    //         .catch(error => {
    //             console.log(error)
    //         });
    //     console.log('parents')


    //     // this.isLogin = true;
    //     // this.isLoginModalShow = false
    // },


  });
</script>


@@include('./layout/HeaderLinkGroup.html') @@include('./layout/HeaderNavMenu.html') @@include('./MemberModalDiv.html') @@include('./popovers.html')