<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../dist/assets/css/all.css">
<title>Document</title>
</head>

<body>
    <div class="container">

        <!-- your code here... -->
        <div class="row">
            <div class="item col-6">
                <p class=" input__text">123123</p>
                <span class="input__text--waring">123123</span>
                <input type="text" class="input ">
                <p class="input__text">123123</p>
                <span class="input__text"></span>
                <input type="text" class="input input--sucess">
                <p class="input__text">123123</p>
                <span class="input__text"></span>
                <input type="text" class="input input--waring">
                <p class="input__text">123123</p>
                <span class="input__text"></span>
                <input type="text" class="input input--membership">
            </div>
        </div>



    </div>
</body>

</html>