<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../dist/assets/css/all.css">
<title>Document</title>
</head>

<body>
    <div class="container">

        <!-- your code here... -->
        <div class="row">

            <div class="item col-lg-6">

                <div class="modal">
                    <span class="modal__cancel"></span>
                    <h1 class="modal__title">登入</h1>
                    <h1 class="modal__title--left">登入</h1>
                    <img src="../img/pic/0.png" class="modal__img" alt="">

                    <p class="modal__text">DEMO文字區塊DEMO文字區塊DEMO文字區塊DEMO文字區塊DEMO文字區塊DEMO文字區塊DEMO文字區塊</p>
                    <p class="modal__text--left">DEMO文字區塊DEMO文字區塊DEMO文字區塊DEMO文字區塊DEMO文字區塊DEMO文字區塊DEMO文字區塊</p>
                    <input type="text" class="input">
                    <button class="btn">DEMO</button>

                </div>




            </div>

        </div>


    </div>
</body>

</html>