.badge{
    @extend .h5;
    color:white;
    border-radius: 4px;
    padding: 4px;
    &--primary{
        color:$coffee;
        background-color: $primary;
    }
}

.carID{
    @include size(64px,64px); //card
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
    border-radius: 8px;
    &--lg{
        @include size(120px,120px); //product-details
        font-size: 48px;
    }
    &--md{
        @include size(80px,80px); //dictionary
        font-size: 36px;
    }
}

