.btn{
  @extend.h3;
  border-radius: 8px;
  color: $white;
  background-color: $secondary;
  padding: 16px 32px;
  min-width: 160px;
  @include rwd-md{
    padding: 12px 24px;
    min-width: 128px;
  }
  @include rwd-sm{
    min-width: 128px;
  }

  cursor: pointer;
  &:hover{
    background-color: $secondary-dark;
  }


  &--fluld{
    width: 100%;
  }

  &--outline{
    background: transparent;
    border: 1px solid $secondary;
    color: $secondary;
    &:hover{
      background-color: $primary-light;
    }
  }

  &--ghost{
    color: $black;
    background-color: transparent;
    &:hover{
      background-color: $gray-300;
    }
  }

  &--link{
    color: $coffee;
    text-decoration: underline;
    background-color: transparent;
    padding: 0;
    &:hover{
      color: lighten($coffee,20%);
      background-color: transparent;
    }
  }

  &--disabled{
    background-color: $gray-500;
    &:hover{
      background-color: $gray-500;
    }
  }

  &--icon{
    padding-right: 0;
    padding-left: 0;
  }
}

