.card {
  background-color: #fff;

  &__header{
    position: relative;
  }

  &__carID{
    @extend .carID;
    @include rwd-lg{
      @include size(80px, 80px);
      font-size: 36px;
    }
    position: absolute;
    right: 12px;
    bottom: 12px;
  }

  &__body{
    padding: 16px;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 8px;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__price {
    font-size: 20px;
    font-weight: bold;
    color: $coffee;
  }

  &__link {
    @extend .btn,
    .btn--link,
    .text-secondary;
  }
}