.form {
    &__input {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        color: $gray-900;
        outline: none;
        border: 1px solid #CBCBCB;
        margin-bottom: 5px;
        @extend h4;
        &:focus {
            border: 1px solid $blue;
        }
        &--warning {
            border: 1px solid $red;
            &:focus {
                border: 1px solid $red;
            }
        }
        &--sucess {
            border: 1px solid $green;
            &:focus {
                border: 1px solid $green;
            }
        }
    }
    &__text {
        margin-bottom: 5px;
        @extend h4;
        float: left;
        &--warning {
            @extend h5;
            float: right;
            color: $red;
        }
    }
    &__section {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__select {
        width: calc(45%);
        padding: 5px;
        border-radius: 5px;
        color: $gray-900;
        outline: none;
        border: 1px solid #CBCBCB;
        margin-bottom: 5px;
        margin-bottom: 10px;
        @extend h4;
        &:focus {
            border: 1px solid $blue;
        }
    }
}