.progress {
    display: flex;
    text-align: center;
    color: $white;
    position: relative;
    @extend .h3;
    &__nomal {
        @include circle(42px, 42px);
        background-color: $gray-500;
        margin: 0 50px;
        position: relative;
        line-height: 42px;
        &:last-child {
            &::before {
                display: none;
            }
        }
        &:nth-child(4) {
            &::before {
                width: 250%;
            }
        }
        &::before {
            content: "";
            width: 250%;
            height: 3px;
            position: absolute;
            background-color: $gray-500;
            top: 50%;
            left: 100%;
        }
    }
    &__active {
        @include circle(42px, 42px);
        background-color: $secondary;
        line-height: 42px;
        position: relative;
        margin: 0 50px;
        &::before {
            content: "";
            width: 250%;
            height: 3px;
            position: absolute;
            background-color: $secondary;
            top: 50%;
            left: 100%;
        }
    }
    &__text {
        width: 500%;
        position: absolute;
        top: 110%;
        left: -200%;
        color: $black;
    }
}