@import "../helpers/variables";
@import "../helpers/mixin";
@import "../helpers/rwd";

//login

.login-body {
  margin: 0 auto;
  margin-top: 5rem;
  padding: 2.5rem;
  background: $primary;
  border-radius: 10px;
  color: $secondary-dark;
  .form-input {
    input {
      width: 100%;
      height: 2.5rem;
      padding-left: 1rem;
      margin-bottom: 20px;
      box-sizing: border-box;
      box-shadow: none;
      outline: none;
      border: none;
      border-radius: 1rem;
      background: transparent;
      font-size: larger;
      background: $white;
      color: $secondary-dark;
      &::placeholder {
        color: $secondary-dark;
      }
    }
  }
  a {
    text-align: right;
  }
}

// base

header {
  z-index: 1;
  position: fixed;
  background: $primary;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  // height: 30px;
}

.left_area h3 {
  color: $white;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.logout_btn {
  padding: 5px;
  background: $secondary;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: $white;
  transition: 0.5s;
  transition-property: background;
  &:hover {
    background: $secondary-dark;
  }
}

.btn_active {
  background: $secondary-dark;
}

.sidebar {
  z-index: 1;
  top: 0;
  background: $secondary;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4 {
  color: $white;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a {
  color: $white;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  // transition-property: background;
  &:hover {
    background: $secondary-dark;
  }
}

.sidebar i {
  padding-right: 10px;
}

label #sidebar_btn {
  z-index: 1;
  color: $secondary;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
  &:hover {
    color: $secondary-dark;
  }
}

// #check:checked ~ .sidebar{
//   left: -185px;
// }

// #check:checked ~ .sidebar a span{
//   display: none;
// }

// #check:checked ~ .sidebar a{
//   font-size: 20px;
//   margin-left: 165px;
//   width: 100%;
// }

.content {
  width: calc(100% - 250px);
  margin-top: 7rem;
  padding: 20px;
  margin-left: 250px;
  // background: url(background.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
  .update_btn {
    width: 90%;
    overflow-x: auto;
    margin: 0 auto;
    margin-bottom: 1rem;
    button {
      border-radius: 50px;
      cursor: pointer;
      padding: 0.6rem 1rem;
      background: $secondary;
      color: $white;
      i {
        margin-right: 0.5rem;
      }
      &:hover {
        background: $secondary-dark;
      }
    }
  }
}

// #check:checked ~ .content{
//   margin-left: 60px;
// }

// #check:checked ~ .sidebar .profile_info{
//   display: none;
// }

// #check{
//   display: none;
// }

.mobile_nav {
  display: none;
}

/* Responsive */

@include rwd-md {
  .sidebar {
    display: none;
  }

  #sidebar_btn {
    display: none;
  }

  .logout_btn {
    margin-right: 0;
  }

  .content {
    margin-left: 0;
    margin-top: 3rem;
    padding: 10px 20px;
    transition: 0s;
    width: 100%;
  }

  // #check:checked ~ .content{
  //   margin-left: 0;
  // }

  .mobile_nav {
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar {
    background: $secondary;
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn {
    color: $white;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover {
    color: $secondary-dark;
  }

  .mobile_nav_items {
    background: $secondary;
    display: none;
  }

  .mobile_nav_items a {
    color: $white;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover {
    background: $secondary-dark;
  }

  .mobile_nav_items i {
    padding-right: 10px;
  }

  .active {
    display: block;
  }
}

// table

.table-responsive {
  border-radius: 10px;
  // box-shadow: 0px 2px 5px 0px rgb(0,0,0,10%);
  display: block;
  width: 90%;
  overflow-x: auto;
  margin: 0 auto;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  thead {
    th {
      background: $secondary;
      font-size: 16px;
      color: $white;
      vertical-align: middle;
      font-weight: 400;
      text-transform: capitalize;
      line-height: 1;
      padding: 22px 40px;
      white-space: nowrap;
    }
  }
  tbody {
    box-sizing: border-box;
    tr:nth-of-type(odd) {
      background-color: $primary-light;
    }
    tr:nth-of-type(even) {
      background-color: $primary;
    }
  }
}

td {
  padding: 12px 40px;
  // padding: 1.5rem;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  a {
    &:hover {
      color: $gray-900;
    }
  }
  img {
    width: 10rem;
    margin: auto;
  }
}

// block

.block-responsive {
  // display: block;
  // overflow-x: auto;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  background: $secondary;
  display: flex;
  // flex-direction: column;
  main {
    width: 70%;
    display: flex;
    flex-direction: column;
    color: $white;
    // align-items: flex-end;
    .update {
      display: flex;
      max-height: 2rem;
      p {
        width: 20%;
      }
      input {
        display: block;
        width: 70%;
        border: none;
        // cursor: pointer;
      }
    }
  }
  .img-preview {
    width: 30%;
  }
}

@include rwd-lg {
  .block-responsive {
    display: block;
    main {
      width: 100%;
      margin-bottom: 2rem;
      .update {
        p {
          width: 50%;
        }
        input {
          width: 150%;
        }
      }
    }
    .img-preview {
      margin: 0 auto;
      width: 80%;
      img {
        // max-width: none;
        width: 100%;
      }
    }
  }
}

@include rwd-sm {
  .block-responsive {
    main {
      .update {
        input {
          width: 60%;
        }
      }
    }
  }
}
