    @import "../helpers/variables";
    @import "../helpers/mixin";
    @import "../helpers/rwd";
    @import "../base/font";
    .cart {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 100px;
        @extend .h4;
        @include rwd-sm {
            padding: 0px 16px;
        }
        &__btn {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            animation: btnlight 3s infinite;
            @keyframes btnlight {
                0% {
                    color: $primary;
                }
                50% {
                    color: $primary-light;
                }
                100% {
                    color: $secondary;
                }
            }
            @include rwd-md {
                justify-content: center;
                border: none;
                width: 100%;
            }
        }
        &__title {
            padding: 36px 40px;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid $secondary;
            min-width: 375px;
            @include rwd-sm() {
                li {
                    display: none;
                }
            }
            li {
                flex-grow: 1;
            }
            li:first-child {
                flex-grow: 2;
                text-align: left;
                @extend .h2;
                @include rwd-sm() {
                    display: flex;
                }
            }
            li:last-child {
                display: none;
                @include rwd-sm() {
                    display: flex;
                    justify-content: flex-end;
                    cursor: pointer;
                }
            }
        }
        &__link {
            color: #AC0404;
            &--small {
                margin-right: 30px;
                color: #AC0404;
                @include rwd-md {
                    display: none;
                }
            }
        }
        &__group {
            position: relative;
            padding: 18px 10px;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            border-bottom: 1px solid $gray-500;
            min-width: 375px;
            @include rwd-md {
                justify-content: flex-end;
                div:nth-child(2) {
                    padding-left: 50px;
                }
                div:nth-child(3) {
                    padding-left: 100px;
                }
            }
            @include rwd-sm {
                div:nth-child(2) {
                    padding: 0;
                    margin-right: 30px;
                }
                div:nth-child(3) {
                    padding: 0;
                    margin-left: 10px;
                }
                div:nth-child(4) {
                    margin-left: 205px;
                }
            }
            @include rwd-xs {
                div:nth-child(2) {
                    margin: 0;
                }
                div:nth-child(3) {
                    margin-left: 153px;
                }
                div:nth-child(4) {
                    margin-left: 55px;
                }
            }
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-grow: 1;
                margin-bottom: 20px;
                // align-items: center;
                @include rwd-xs {
                    margin: 0;
                    margin-bottom: 10px;
                }
            }
            div:first-child {
                flex-grow: 0.7;
                display: flex;
                flex-direction: row;
                @include rwd-xl {
                    flex-grow: 0.03;
                }
                @include rwd-sm {
                    flex-grow: 1;
                }
                @include rwd-xs {
                    width: 70%;
                    height: 60%;
                }
            }
        }
        &__groupImg {
            width: 50%;
            position: relative;
            @include size(149px, 141px);
            img {
                display: block;
                vertical-align: middle;
            }
            p {
                display: inline-block;
                width: 30px;
                font-size: 12px;
                background-color: $secondary;
                position: absolute;
                color: $white;
                font-weight: 600;
                bottom: 15px;
                right: 0;
                @include rwd-xs {
                    bottom: -10px;
                    right: 0;
                }
            }
        }
        &__product {
            padding-left: 20px;
            @extend .h4;
            p {
                text-align: center;
                &:last-child {
                    color: $gray-700;
                    @extend .h5;
                }
                @include rwd-xs {
                    width: 150px;
                }
            }
        }
        &__num {
            text-align: left;
            padding: 10px 40px 10px 10px;
            border: 1px solid $gray-500;
            color: $gray-900;
            border-radius: 5px;
            @extend .h4;
            @include rwd-xs {
                padding: 5px 30px 5px 10px;
            }
        }
        &__footer {
            justify-content: space-between;
            margin-top: 20px;
            margin-left: 40%;
            align-items: center;
            @extend .h4;
            li {
                flex-grow: 1;
                &:last-child {
                    color: $coffee;
                }
                &:nth-child(3) {
                    width: 20%;
                    padding-right: 5px;
                }
            }
            span {
                &:last-child {
                    font-weight: 500;
                    @extend .h2;
                    color: $coffee;
                }
            }
            @include rwd-md {
                justify-content: center;
                margin: 10px 0;
                padding: 0 30px;
            }
        }
        &__member {
            display: flex;
            justify-content: center;
            align-items: center;
            @include rwd-md {
                width: 30%;
            }
            @include rwd-sm {
                width: 40%;
            }
            @include rwd-xs {
                width: 100%;
                justify-content: flex-start;
            }
            &--align {
                p {
                    position: relative;
                    color: $white;
                    @extend .h5;
                    z-index: 2;
                    &:after {
                        position: absolute;
                        display: block;
                        content: "";
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: $blue;
                        top: 3px;
                        left: -9%;
                        z-index: -1;
                        @include rwd-md {
                            top: 3px;
                            left: -9%;
                        }
                        @include rwd-sm {
                            top: -3px;
                        }
                    }
                }
                span {
                    margin-left: 10px;
                    color: $blue;
                    @extend .h4;
                }
            }
            p {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                text-align: center;
                line-height: 25px;
                background-color: $blue;
                color: $white;
                margin-right: 10px;
                @extend .h5;
            }
            samp {
                color: $blue;
                @extend .h4;
            }
        }
        &__text {
            display: none;
            @include rwd-md {
                display: flex;
            }
            &--hide {
                @include rwd-md {
                    display: none;
                }
            }
        }
        &__cancel {
            display: none;
            @include rwd-sm {
                display: flex;
                width: 20px;
                position: absolute;
                top: 10px;
                right: 40px;
            }
        }
        &__payment {
            padding: 10px 30px 80px;
            text-align: left;
            position: relative;
            @include rwd-lg {
                text-align: center
            }
            @include rwd_md {
                padding: 10px 30px 30px;
            }
            @include rwd_sm {
                padding: 0;
                padding-top: 30px;
            }
            h2 {
                @extend .h2;
                &::after {
                    margin-top: 20px;
                    display: block;
                    width: 100%;
                    height: 2px;
                    content: "";
                    border-bottom: 2px solid $secondary;
                }
            }
            &--nopt {
                padding: 10px 30px 40px;
            }
        }
        &__select {
            width: 100%;
        }
        &__pointCount {
            align-items: center;
            justify-content: space-between;
            height: 20px;
            padding: 0px 20px 0px 0px;
            @extend .h5;
        }
        &__moneyCount {
            li {
                display: flex;
                justify-content: space-between;
                padding: 0px 20px 0px 0px;
                margin-bottom: 10px;
            }
        }
        &__countTotal {
            border-top: 2px solid $gray-500;
            justify-content: space-between;
            text-align: left;
            padding: 30px 0;
            li {
                display: flex;
                width: 50%;
                justify-content: space-between;
                &:last-child {
                    padding: 0px 20px 0px 0px;
                }
            }
        }
        &__pointRespond {
            text-align: center;
            padding: 15px 5px;
            background-color: $gray-100;
            @extend .h4;
            span {
                color: $blue;
                padding: 0 7px;
                font-weight: 500;
            }
        }
        &__hint {
            @extend.h5;
            margin-top: 5px;
            color: $gray-900;
        }
        &__comment {
            padding: 5px 20px;
            background-color: $white;
            text-align: left;
            button {
                color: $secondary-dark;
            }
        }
        &__choose {
            position: absolute;
            &--left {
                top: 50%;
                left: -1%;
            }
            &--right {
                top: 50%;
                right: -1%;
            }
        }
        &--overhidden {
            overflow-y: scroll;
        }
        &__imgGroup {
            position: relative;
            img {
                vertical-align: middle;
            }
            p {
                position: absolute;
                @include size(64px, 60px);
                text-align: center;
                padding: 10px 20px;
                font-weight: 900;
                right: 5%;
                bottom: 5%;
                text-align: center;
                color: $white;
                background-color: $secondary;
                @extend .h5;
            }
        }
        &__textGroup {
            padding: 10px;
            position: relative;
            h3,
            p {
                @extend .h5;
            }
            p {
                color: $coffee;
            }
            button {
                position: absolute;
                right: 0;
                bottom: 10%;
                @extend .h5;
                color: $secondary-dark;
            }
        }
    }