.container{
    padding-top: 176px;
}

#factory .header .container{
    padding-top: 8px;
    padding-bottom: 0;
}

#factory .header .icon{
    margin-right: 0;
    margin-left: 0;
}

#factory .footer .container{
    padding-top: 0;
}

.intro{
    display: flex;

    // &_pic{
        // outline: 2px solid red;
    // }

    &_content{
        float: right;
        // outline: 2px solid pink;
    
        &_title{
            color: white;
            -webkit-text-stroke: 1px #522613;
            margin-bottom: 36px;
        }
    
        &_text{
            margin-bottom: 56px;
            color: #522613;
        }
    }
}

.makeCar{
    display: none;

    // outline: 1px solid orange;
}

.model{
    width: 800px;
}

.lable{
    width: 148px;
    height: 148px;
    background-color: #FADD61;
    border-radius: 50%;
    
    text-align: center;
    color: #522613;
    // padding: 20px;

    position: relative;
    top: -9.7vw;
    left: 33vw;
}

.emphasis{
    font-size: 64px;
    font-weight: bold;
}

// ------------作品區的按鈕-----------------------
.workBar{
    display: flex;
    justify-content: space-between;

    padding: 20px 0;

    // outline: 2px solid gold;

    &_left{
        display: flex;
    }
}

.workButton{
    margin: 0 40px;
    background-color: transparent;
    outline: none;
    color: #522613;
    font-weight: bold;
    cursor: pointer;
}

.works{
    background-image: linear-gradient(transparent 60%, #FADD61 60%)
}
// --------------作品區內容---------------------
.othersWorks{
    display: flex;
    flex-wrap: wrap;
}

.mywork{
    display: none;
    background: #fff;
}

.othersWorks, .mywork{
    padding-bottom: 60px;
}

.putMywork{
    display: flex;
}

.work{
    height: 100%;
    background-color: #fff;
    // outline: 1px solid blue;
    
    &_pic{
        cursor: pointer;
        padding: 0 32px;

        // outline: 1px solid;
    }

    &_author, &_reply{
        // margin: 28px;
        padding: 28px;
        
    }

    &Name{
        margin-bottom: 16px;
    }
}

.work_reply, .workInfo, .moreReply, .closeReply, .readMore, .closeMore{
    border-bottom: 1px solid #ccc;
}

.work_reply{
    display: flex;
    flex-direction: column;
}

.work .hiddenReply, .work .hiddenSubReply,{
    display: none;
}

.typeReply{
    padding: 28px;
    border-bottom: 1px solid #ccc;
}


.user{
    &Pic{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 0 28px;

        &--big{
            width: 84px;
            height: 84px;
            border-radius: 50%;
            margin: 0 28px;
        }
    
        &--small{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 0 28px;
        }
    }

    &Context{
        display: flex;

        // border-bottom: 1px solid #ccc;
        // padding-bottom: 28px;
    }

    &Context_top{
        width: 100%;
    }

    &Name, &Content{
        margin-bottom: 16px;
    }
}

.subUserContext{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 28px;
    padding-left: 28px;
    border-top: 1px solid #ccc;
    margin-top: 16px;
}

.num{
    font-weight: bold;
}

.work_author, .work_reply, .typeReply{
    display: flex;
}

.work{
    &Info, &Info_reply, &Info_good{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.workInfo{
    padding-bottom: 8px;
}

.other{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 16vw;
}

.icon{
    margin-left: 8px;
    margin-right: 14px;
}

.readMore, .closeReply, .closeMore, .closeTextarea{
    padding: 12.5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.moreReply{
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeReply, .closeMore{
    display: none;
}

// -----------------------------------
.typeReply{
    display: flex;
}

// .typeReply_left{
//     margin-right: 28px;
// }

// ----------------彈窗-------------------
.mask{
    width: 100vw;
    background-color: #0808084D;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;

    position: fixed;
    display: none;
}

.work_left{
    height: 880px;
    background-color: #fff;
    // outline: 1px solid red;
}

.work_right{
    background-color: #fff;
    height: 880px;
    overflow-y: scroll;
    // outline: 1px solid green;
}

.closeIcon{
    position: relative;
    left: 37.9vw;
    top: -2.36vw;
    cursor: pointer;
}

.frame{
    width: 100%;
    // height: 40vw;
    height: 32vw;
    overflow: hidden;

    // outline: 1px solid blue;
}

.workPic--big{
   width: 100%;
    // outline: 1px solid; 
}

.price{
    display: flex;
}

.work_right{
    padding: 52px;
}

.typeReply_right{
    width: 100%;
}

// ----------------進度條-------------------
.progressBar{
    display: none;
    // margin-bottom: 60px;
    // outline: 1px solid green;
}

.bar{
    width: 960px;
    // width: 50%;
    height: 4px;
    background-color: #D8D8D8;
    position: relative;
    top: 30px;
    left: 100px;
    z-index: -1;
}

.bar-front{
    width: 0;
    top: 26px;
    background-color: #E59807;
}

  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-right: 7.8125vw;
  }

  .explanations{
    display: flex;
    justify-content: center;
  }

  .circle{
    width: 42px;
    height: 42px;
    border-radius: 50%;

    margin-right: 150px;
    text-align: center;
    line-height: 42px;

    background-color: #D8D8D8;
    font-size: 24px;
    color: #fff;
  }

  .explanation{
    font-size: 24px;
    margin-right: 150px; 
    color: #333333;
  }

  .content:last-child .circle, .content:last-child .explanation{
      margin-right: 0
    }
// ----------------製作車子的主區域-------------------

  .mainAreaPic{
      margin: 0 auto;
  }

// ----------------標示步驟、金額的區域-------------------
    .totalPrice{
        font-size: 32px;
        color: #522613;
        font-weight: bold;

        margin-left: 60px;
    }

    .tipArea, .tipPrice{
        display: flex;
    }

    .tipArea{
        padding: 20px 0;
        border-bottom: 1px solid #E59807;
        background-color: #fff;
    }

    .tipArea_right{
        display: flex;
        justify-content: space-between;
    }

    .pleaseSelect{
        display: none;
        position: absolute;
        top: -80px;
        right: 20px;

        padding: 20px 12px;
        background-color: #fff;
        border: 1px solid #E59807;
        
    }

    //放canvas區域
    .mainArea{
        display: flex;
        justify-content: center;
        background-color: #fff;
    }

  // ----------------製作車子的選項區域-------------------
    .selectAreaOut{
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }

  .selectArea{
      position: relative;
      display: flex;
    //   left: 0;

      margin-bottom: 20px;
  }

  .selectBtn{
    width: 97%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 360px;
    z-index: 1;
  }

  .selectAreaOut-previous{
    //   background-image: url("../../img/icon/icon-left.svg");
    //   background-image: url("../app/assets/img/icon/icon-left.svg");
      display:inline-block;
      width: 60px;
      height: 60px;
    //   position: relative;
    //   top:220px;
    //   left:0;
      z-index: 1;
      cursor: pointer;
  }

  .selectAreaOut-next{
    // background-image: url("../../img/icon/icon-right.svg");
    display:inline-block;
    width: 60px;
    height: 60px;
    // position: relative;
    // top: 200px;
    // left: 760px;
    z-index: 1;
    cursor: pointer;
}

  .shapeCard, .colorCard, .tireCard, .accessoryCard{
      background-color: #fff;
  }

  .cardOut{
      height: 150px;
  }

  .shapeCards, .colorCards, .tireCards, .accessoryCards{
      display: flex;
  }

  .shape, .tire, .accessory{
      width: 200px;
      margin: 0 auto;
  }

  .makeCar-price{
    font-size: 20px;
    font-weight: bold;
    color: #522613;
  }

  .makeCar-price, .makeCar-name{
      text-align: center;
  }

  .shape, .makeCar-price, .tire, .accessory{
      margin-bottom: 20px;
  }

  .colorCard, .tireCard, .accessoryCard, .giveName{
      display: none;
  }

.color{
    // width: 300px;
    // height: 300px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 0 auto 20px;
}

.white{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
}

.red{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
}

.orange{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: orange;
}

.yellow{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
}

.purple{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(173, 85, 224);
}

.nameTip{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.typeWorkName, .typeNickName{
    width: 320px;
}

.notice{
    color: #9D9D9D;
    font-size: 14px;
}

.description{
    margin-bottom: 8px;
}

// ---------------------------------------
// ---------------------------------------
@media screen and (max-width:992px){
    .bar{
        left: 50px;
    }

    .bar-back{
        width: 830px;
    }

    .work_author, .work_reply, .typeReply{
        display: block;
    }

    .userPic{
        margin: 0 auto;
    }

    .userName, .workName, .replyerName, .userContent{
        text-align: center;
    }

    .other{
        width: auto;
    }

    .textarea{
        margin: 0 auto;
        display: flex;
        margin-bottom: 8px;
    }
}