.container{
    padding-top: 176px;
}

.intro{
    display: flex;

    &_pic{
        outline: 2px solid red;
    }

    &_content{
        float: right;
        outline: 2px solid pink;
    
        &_title{
            color: white;
            -webkit-text-stroke: 1px #522613;
            margin-bottom: 36px;
        }
    
        &_text{
            margin-bottom: 56px;
            color: #522613;
        }
    }
}

.model{
    width: 800px;
}

.lable{
    width: 148px;
    height: 148px;
    background-color: #FADD61;
    border-radius: 50%;
    
    text-align: center;
    color: #522613;

    position: relative;
    top: -9.7vw;
    left: 33vw;
}

.emphasis{
    font-size: 64px;
    font-weight: bold;
}

// -----------------------------------
.workBar{
    display: flex;
    justify-content: space-between;

    padding: 20px 0;

    outline: 2px solid gold;

    &_left{
        display: flex;
    }
}

.workButton{
    margin: 0 40px;
    background-color: transparent;
    outline: none;
    color: #522613;
    cursor: pointer;
}
// -----------------------------------
.othersWorks{
    display: flex;
    flex-wrap: wrap;
}

.work{
    height: 100%;
    background-color: #fff;
    outline: 1px solid blue;
    
    &_pic{
        cursor: pointer;
        padding: 0 32px;

        outline: 1px solid;
    }

    &_author, &_reply{
        // margin: 28px;
        padding: 28px;
        
    }

    &Name{
        margin-bottom: 16px;
    }
}

.work_reply, .workInfo, .moreReply, .closeReply, .readMore, .closeMore{
    border-bottom: 1px solid #ccc;
}

.work_reply{
    display: flex;
    flex-direction: column;
}

.work .hiddenReply, .work .hiddenSubReply,{
    display: none;
}

.typeReply{
    padding: 28px;
    border-bottom: 1px solid #ccc;
}


.user{
    &Pic{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 0 28px;

        &--big{
            width: 84px;
            height: 84px;
            border-radius: 50%;
            margin: 0 28px;
        }
    
        &--small{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 0 28px;
        }
    }

    &Context{
        display: flex;

        // border-bottom: 1px solid #ccc;
        // padding-bottom: 28px;
    }

    &Context_top{
        width: 100%;
    }

    &Name, &Content{
        margin-bottom: 16px;
    }
}

.subUserContext{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 28px;
    padding-left: 28px;
    border-top: 1px solid #ccc;
    margin-top: 16px;
}

.num{
    font-weight: bold;
}

.work_author, .work_reply, .typeReply{
    display: flex;
}

.work{
    &Info, &Info_reply, &Info_good{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.workInfo{
    padding-bottom: 8px;
}

.other{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon{
    margin-left: 8px;
    margin-right: 14px;
}

.readMore, .closeReply, .closeMore, .closeTextarea{
    padding: 12.5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.moreReply{
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeReply, .closeMore{
    display: none;
}

// -----------------------------------
.typeReply{
    display: flex;
}

.typeReply_left{
    margin-right: 28px;
}

// ----------------彈窗-------------------
.mask{
    width: 100vw;
    background-color: #0808084D;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;

    position: fixed;
    display: none;
}

.work_left{
    height: 880px;
    background-color: #fff;
    outline: 1px solid red;
}

.work_right{
    background-color: #fff;
    height: 880px;
    overflow-y: scroll;
    outline: 1px solid green;
}

.closeIcon{
    position: absolute;
    left: 32.9vw;
    top: 0.64vw;
    cursor: pointer;
}

.frame{
    width: 100%;
    /* height: 625px; */
    height: 40vw;
    overflow: hidden;

    outline: 1px solid blue;
}

.workPic--big{
   width: 100%;
    /* overflow: hidden;*/
    outline: 1px solid; 
}

.price{
    display: flex;
}

.work_right{
    padding: 52px;
}

.typeReply_right{
    width: 100%;
}

// ----------------進度條-------------------
.progressBar{
    display: none;
}

.bar{
    width: 960px;
    height: 4px;
    background-color: #D8D8D8;
    position: absolute;
    top: 18px;
    left: 400px;
    z-index: -1;
  }

  .content{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .explanations{
    display: flex;
    justify-content: center;
  }

  .circle{
    width: 42px;
    height: 42px;
    border-radius: 50%;

    margin-right: 150px;
    text-align: center;
    line-height: 42px;

    background-color: #D8D8D8;
    font-size: 24px;
    color: #fff;
  }

  .explanation{
    font-size: 24px;
    margin-right: 150px; 
    color: #333333;
  }