@import "../helpers/variables";
@import "../helpers/mixin";
@import "../helpers/rwd";

.index {
    overflow-x: hidden;
    margin-bottom: -400px;

    .parking {
        &__car {
            position: absolute;
            width: 20%;
            top: 28%;
            left: 44%;
            z-index: 30;
        }

        &__road {
            position: absolute;
            width: 19.85%;
            right: 1400px;
            top: 0;
            z-index: 10;

            @include rwd(1400px) {
                width: 18.67%;
                right: calc(100% - 41px);
            }

            @include rwd(1280px) {
                width: 18.5%;
            }
        }

        &__text {
            background-color: $primary;
            color: $coffee;
            text-align: center;
            position: absolute;
            top: 85%;
            right: 10%;
            padding: 40px 40px 80px;
            width: 50%;
        }
    }


    .billboard {
        &__screen {
            position: absolute;
            width: 93%;
            height: 70.6%;
            top: 5.6%;
            left: 51.5%;
            transform: translateX(-50%);

            @include rwd(1400px) {
                width: 87%;
            }

            @include rwd-xl {
                width: 86%;
            }

            @include rwd-lg {
                width: 88%;
            }

            @include rwd-md {
                width: 87%;
                height: 400px;
                bottom: 0;
            }

            @include rwd-sm {
                width: 86.5%;
                height: 70.3%;
            }

            @include rwd-xs {
                width: 84%;
            }
        }

        &__car {
            position: absolute;
            top: -20px;
            left: -250px;

            @include rwd(1400px) {
                width: 280px;
            }
        }

        &__road {

            // width: 100%;
            @include rwd-lg {
                height: 120px;
                transform: translateX(-160px);
            }

            @include rwd-md {
                height: 80px;
                transform: translateX(-440px);
            }
        }
    }




    .mountain {
        position: relative;
        padding: 400px 0;
        background-image: url('../../img/illust/illust-mountain.svg');
        background-size: cover;

        @include rwd-xl {
            margin-top: -160px;
        }

        &__road {
            position: absolute;
            bottom: -20px;
        }

        &__cars {
            position: absolute;
            bottom: 250px;
            display: flex;
            justify-content: space-around;
            width: 100%;
            z-index: 50;
        }

        &__car {
            position: absolute;
            bottom: 60px;
            left: -250px;

            @include rwd(1400px) {
                width: 280px;
            }
        }
    }

    .factory {
        &__all {
            @include rwd-lg {
                width: 60%;
                margin: 0 auto;
            }
        }

        &__house {
            position: relative;
            z-index: 30;
            width: 100%;

        }

        &__inner {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 5;
        }

        &__door {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 20;
        }

        &__car {
            position: absolute;
            width: 20%;
            top: -36%;
            left: 22%;
            z-index: 10;
            transform: translateY(100px);

            @include rwd(1400px) {
                left: 24%;
            }

            @include rwd-lg {
                width: 5%;
                left: 42%;
                top: -30%
            }

        }

        &__car__light {
            position: absolute;
            width: 1px;
            bottom: 10px;
            left: 5px;
        }

        &__car__light2 {
            position: absolute;
            left: 100px;
            bottom: 60px;
        }

        &__road {
            width: 100%;
            position: relative;
            top: -120px;

            @include rwd-lg {
                width: 240%;
                left: -66%;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 80px;

            @include rwd-xl {
                padding: 60px;
            }
        }

        &__text__title {
            font-size: 48px;
            font-weight: 700;
            letter-spacing: 300;
            display: inline-block;

            &:before {
                height: 30px;

            }
        }

        &__text__thumb {
            animation: thumbShake 1s ease-in infinite;
        }


    }

    .block {
        background-color: #fff;
    }


    .about {
        position: relative;
        background-color: #fff;
        border: 3px solid $coffee;

        z-index: 50;

        &:before {
            content: " ";
            position: absolute;
            z-index: -1;
            top: 7px;
            left: 7px;
            right: 7px;
            bottom: 7px;
            border: 2px dashed $coffee;
        }
    }

    .turn-road {
        position: relative;
        top: -160px;
        width: 100%;
        margin: 0 auto;

    }

    .address {
        position: relative;
        top: -360px;
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 3px solid $coffee;
        z-index: 50;

        @include rwd-md {
            flex-wrap: wrap;
        }

        &:before {
            content: " ";
            position: absolute;
            z-index: -1;
            top: 7px;
            left: 7px;
            right: 7px;
            bottom: 7px;
            border: 2px dashed $coffee;
        }
    }

    .end {
        position: relative;
        top: -500px;

        .end__showgirl {
            position: absolute;
            top: 40%;
            left: 50%;
        }
    }

    .car-shake {
        animation: carShake .3s ease-in-out infinite;
    }

    .car-shake--team1 {
        animation: carShake .3s .1s ease-in-out infinite;
    }

    .car-shake--team2 {
        animation: carShake .3s .2s ease-in-out infinite;
    }

    @keyframes carShake {
        0% {
            transform: translate(.3px, .3px);
        }

        50% {
            transform: translate(0px, -.2px);
        }

        100% {
            transform: translate(-.3px, 0);
        }
    }

    @keyframes thumbShake {
        0% {
            transform: translateX(0px);
        }

        50% {
            transform: translateX(5px);
        }

        100% {
            transform: translateX(0px);
        }


    }




}