@import "../helpers/variables";
@import "../helpers/mixin";
@import "../helpers/rwd";
@import "../base/font";

.favorites{
    margin: 100px 50px 20px;

    &_link{
        width: 100%;
        margin-top: 20px;
        border-top: 3px solid orange;
    }
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.cart__comment{
    padding: 30px 20px;
}


.bg-secondary{
    margin-top: 40px;
    margin-left: 20px;
}

.toggleIcon2{
    margin-top: 25px;
    margin-right: 70px;
}

.purchase{
    margin: 100px 50px 20px;

    &_pay{
        padding: 20px 20px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    &--left {
        display: flex;
        width: 100%;
        justify-content: space-around;
        @include rwd-lg {
            margin-top: 20px;
            width: 100%;
        }
    }
}


.notice{
    margin-top: 50px;

    &__info {
        background-color: $white;
    }
    &__cupon {
        margin: 50px auto;
        padding: 10px 40px;
        background-color: $white;
        box-shadow: 1px 1px 5px $gray-500;
        line-height: 2;
        display: flex;
        align-items: center;
        @include rwd(1116px) {
            margin: 20px 40px 0px 40px;
        }
        @include rwd-lg {
            margin: 0px;
            margin-top: 20px;
        }
    }
    &__cuponText {
        padding-top: 40px;
        padding-left: 20px;
        color: $secondary;
        text-align:center;
        position: relative;
        z-index: 3;
        &::before {
            position: absolute;
            display: block;
            content: "";
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 1px solid $secondary;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -50%);
        }
        &--big {
            font-size: 72px;
        }
        &--small {
            font-size: 27px;
        }
        &--mid {
            font-size: 33px;
        }
        &--middle {
            font-size: 28px;
        }
        
    }
    
}    

.toggleIcon2{
    margin-top: 25px;
    margin-right: 0px;
} 

.only__cuponText{
    margin-top: 130px;
    margin-left: 50px;

}

.only{
    &__pt{
        margin: 8px 5px;
    }
    

    &__cuponContent{
        display: block;
        margin: 50px auto 50px;  
        line-height: 2.5;
    }

    &__text{
        
        width: 120px;
        margin: 40px;
    }

    &__btn{
        color: orange;
        font-size: 14px;
       
    }

    &__data{
        padding: 10px 20px;
        align-items: center;
        background-color: $white;
        justify-content: space-between;
        border-bottom: 1px solid $gray-500;
        font-weight: 300;
    }
    
    &__title{
        margin: 30px -90px;
        line-height: 2.5;
    }
    
    &__readMore{
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }

    &__more{
        font-size: 20px;
        color: $coffee;
    }

    &__icon{
        margin-bottom: 0px;
    }

    &__medal{
        display: flex;
        padding:20px 30px;
        margin: 0 auto;
    }

    &__man{
        margin: 25px 15px;
    }
   
}