.favorites{
    margin: 100px 50px 20px;

    &_link{
        width: 100%;
        margin-top: 20px;
        border-top: 3px solid orange;
    }
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.cart__comment{
    padding: 30px 20px;
}

.notice{
    margin: 100px 50px 20px;

    &_link{
        width: 100%;
        margin-top: 20px;
        border-top: 3px solid orange;
    }
}

.not_content{
    display: flex;
    margin: 70px 70px;

    &_circle{
        width:120px;
        height:120px;
        border: 2px solid orange;
        border-radius: 50%;
    }
    
    &_title{
        margin:35px 25px;
        color: orange;
        font-size: 20px;
        font-weight: bolder;
        text-align:center;
    }
    &_cont{
        font-size: 24px;
        margin: 20px 0 50px;
    }    
    
}
.not_content ul{
    margin-left: 50px;
}

.bg-secondary{
    margin-top: 40px;
    margin-left: 20px;
}

.toggleIcon2{
    margin-top: 25px;
    margin-right: 70px;
}
