@import '../helpers/variables';
@import '../helpers/mixin';
@import '../helpers/rwd';
@import '../base/font';
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

// .box-green {
//     background-color: green;
// }

// .box-yellow {
//     background-color: yellow;
// }

// .box-pink {
//     background-color: pink;
// }

// .box-blue {
//     background-color: blue;
// }

.item-menu {
    width: 100%;
    overflow: hidden;
    margin-top: 200px;
}

.item {
    overflow: hidden;
    width: 100%;
    margin-left: 25px;
}

.menu-btn {
    display: block;
    padding: 16px 10px;
    color: black;
    position: relative;
    font-weight: bold;
}

.smenu {
    background: #fff;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
    width: 100%;
}

.smenu a {
    display: block;
    padding: 16px 24px;
    color: black;
    font-size: 14px;
    margin: 4px 0;
    position: relative;
}

.smenu a:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #e59807;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
}

.smenu a:hover:before {
    opacity: 1;
}

.item:target .smenu {
    max-height: 30em;
}

// .product {
//     &__header {
//         margin-top: 200px;
//         padding: 0px 50px;
//         box-sizing: border-box;
//         margin-right: 20px;
//         &_over {
//             margin-top: 60px;
//         }
//         &_body {
//             font-size: 20px;
//             font-weight: bolder;
//             margin: 10px 0 20px;
//             line-height: 2;
//         }
//         &_series {
//             margin-left: 40px;
//             line-height: 3;
//         }
//     }
// }
.area {
    float: right;
}

.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff url('http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif') no-repeat 90% 50%;
}

.select-style {
    width: 150px;
}

.card_all {
    border: 2px solid red;
}

.card {
    margin: 20px 0 40px;
}

.page {
    display: flex;
    margin: 100px 250px;
    &_btn_nb span {
        width: 50px;
        border: 1px solid;
        margin: 3px;
        padding: 20px;
        line-height: 50px;
        text-align: center;
    }
    &_btn_nb span:hover {
        background: orange;
        color: #fff;
    }
}

.pagination {
    border: 2px solid $secondary;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin: 0px 200px 100px 200px;
}

.page-link {
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 45px;
    text-align: center;
    line-height: 3;
    border-left: 2px solid $secondary;
}

.page-link:hover {
    z-index: 2;
    text-decoration: none;
    background-color: $gray-500;
    overflow: visible;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}

.page-item:last-child .page-link {
    margin-left: 0;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

.d-flex .page-item:first-child a {
    border-left: none;
}

.material-icons {
    color: $secondary;
    font-weight: bolder;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: $secondary;
}

@media (max-width: 1920px) {
}

@media (max-width: 768px) {
    .item-menu {
        display: none;
        // flex-direction: row;
        // justify-content: space-between;
    }
}

@media (max-width: 414px) {
    .menu-btn {
        padding: 0;
    }

    .item {
        margin: 0px;
    }

    .page {
        margin: 100px 35px -20px;
    }


}
