<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./assets/css/all.css">
<link rel="stylesheet" href="./assets/css/pages/cart.css">

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js' integrity='sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==' crossorigin='anonymous'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js' integrity='sha512-YXLGLsQBiwHPHLCAA9npZWhADUsHECjkZ71D1uzT2Hpop82/eLnmFb6b0jo8pK4T0Au0g2FETrRJNblF/46ZzQ==' crossorigin='anonymous'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vuex/3.5.1/vuex.js' integrity='sha512-LRJP5e30Cahm/OH4lAao+BwWtz7gcz8GDWKQh4aVzHZnTG6RKpVthb17/nBEcBMK5aSgGkI6XjCNRPY221esvQ==' crossorigin='anonymous'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.15/swiper-bundle.js' integrity='sha512-TrDLNQyY4CpGTLPhaubDUMBqE0OExDKveL5wlIQYHCt0V1cxAJNQfDmW0w2kY/z/ed1UtfOF3ykis9uFkmcplQ==' crossorigin='anonymous'></script>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.15/swiper-bundle.min.css' integrity='sha512-uA1+kHA/0O68FTSM4jeTzJNnRvNWxdCCSnE3gv8LaySXYxQT3nc5uPX9buMPtI1gxUBcxm0+5Lcw59jjl0nMDQ==' crossorigin='anonymous' />
<script src="./assets/js/all.js"></script>
<title>cart</title>
</head>

<body>
  <div id="app">
    <vue-header></vue-header>


    @@include('./pages/CartPage/CartProgress.html')


    <transition name="fade" mode="out-in">
      <cart-area @data-handler="dataChange" :list="list" :current="current_section" :is-Exist="listIsExist" v-if="current_section === 0" key="index-1"></cart-area>

      <cart-info @data-handler="dataChange" :current="current_section" v-if="current_section === 1" key="index-2"></cart-info>

      <cart-done @open-window="openModal" v-if="current_section === 2" :current="current_section" key=" index-3 "></cart-done>
    </transition>


    <modal-custom-made v-show="isModalShow " @closemodal="closeHandler ">
      <template #header>
        <!-- 傳入文字 -->
        <h2 class="modal__title  mb-10  h3">訂單成立</h2>
      </template>
      <template #content>
        <!-- 自行決定要傳入什麼 -->
        <div>
          <img
            class="mx-auto "
            src="./assets/img/icon/icon-good.svg"
            alt=" "
          >
        </div>
      </template>
      <template #maintext>
        <!-- 若有文字可以使用 ，也可以關掉-->
        <div>
          <p class="modal__text">訂單已成立，感謝您的購買！已寄一份訂單明細至您的信箱</p>
        </div>
      </template>
      <template #footer>
        <a href="./MemberPurchase.html"><button class="btn btn--fluid btn--outline mt-3 ">查看我的訂單</button></a>
      </template>

    </modal-custom-made>







  </div>

  @@include('./components/VueHeader.html')
  <!--  -->
  @@include('./pages/CartPage/CartArea.html')
  <!--  -->
  @@include('./pages/CartPage/CartInfo.html')
  <!--  -->
  @@include('./pages/CartPage/CartDone.html')
  <!--  -->
  @@include('./components/ModalNormal.html')

  <!--  -->
  @@include('./components/ModalNormal.html')

  <script>
    const store = new Vuex.Store({

      state: {
        buyList: [],
        totalProductNum: null,
        totalPointCost: null,
        selectCupon: " ",
        selectPayment: " ",
        selectShipping: " ",
        finallyPrice: 0,
        discountPrice: 0,
        sendPrice: 0,
      },
      mutations: {
        //訂單比數跟詳細資料
        addBuyList(state, val) {
          state.buyList = val;
        },
        addTotalPointCost(state, val) {
          state.totalPointCost = val;
        },
        // 購買商品比數
        addBuyNum(state, val) {
          state.totalProductNum = val;
        },
        // 選擇的折價卷
        selectCupon(state, val) {
          state.selectCupon = val;
        },
        //選擇的付費方法
        selectPayment(state, val) {
          state.selectPayment = val;
        },
        //選擇的運送方式
        selectShipping(state, val) {
          state.selectShipping = val;
        },
        // 最後的價格
        addFinalPrice(state, val) {
          state.finallyPrice = val;
        },
        // 折扣金額
        addDiscountPrice(state, val) {
          state.discountPrice = val;
        },
        // 運費
        addSendPrice(state, val) {
          state.sendPrice = val;
        }
      },
    });

    new Vue({
      el: '#app',
      data: {

        list: [{
          productName: 'Audi R8 奧迪小客車',
          productBrief: 'Audi TT coupe 1980',
          price: 195,
          productNum: 1,
          totalPrice: 195,
          img: " ./assets/img/pic/3.jpg ",
          seriousNum: 'BS 01',
          pointProduct: false,
        }, {
          productName: 'Audi R8 奧迪小客車',
          productBrief: 'Audi TT coupe 1980',
          price: 200,
          productNum: 1,
          totalPrice: 200,
          img: " ./assets/img/pic/3.jpg ",
          seriousNum: 'BS 01',
          pointProduct: true,
          //看資料庫型態改名
        }],
        listIsExist: true,
        current_section: 0,
        isModalShow: false,
      },
      store,
      methods: {
        dataChange(val) {
          this.current_section = val;
        },
        // 若有要使用記得加上這個方法控制開關
        openModal() {
          if (this.isModalShow) {
            this.isModalShow = false;
          } else {
            this.isModalShow = true;
          }
        },
        closeHandler() {
          this.isModalShow = false;

        }

      },
      computed: {
        ...Vuex.mapState({
          selectCupon: state => state.selectCupon,
          buyList: state => state.buyList,
          finallyPrice: state => state.finallyPrice,
          totalProductNum: state => state.totalProductNum,
          selectPayment: state => state.selectPayment,
          totalPointCost: state => state.totalPointCost,
          selectShipping: state => state.selectShipping,
        })
      },
      mounted() {
        //確認有無購買
        for (listnum in
          this.list) {
          if (!this.list[listnum].productName) {
            this.listIsExist = false;
          };
          //確認是否為點數商品
          if (this.list[listnum].pointProduct) {
            console.log(`${(listnum
              *
              1
              +
              1)}是點數商品`)
          }
        };


      },
    });
  </script>



</body>


</html>