<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./assets/css/all.css">
<link rel="stylesheet" href="./assets/css/pages/memberNew.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.6.2/vuex.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js' integrity='sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==' crossorigin='anonymous'></script>
<script src="./assets/js/all.js"></script>
<script src="./assets/js/utils.js"></script>
<title>memberMain</title>
</head>

<body>
  <div id="app">
    <vue-header></vue-header>
    <member-bar></member-bar>
    <!--  -->
    @@include('pages/MemberPage/MemberData.html')
    <!--  -->
    @@include('pages/MemberPage/MemberCupon.html')
    <!--  -->
    @@include('pages/MemberPage/MemberAddress.html')
    <!--  -->
    @@include('pages/MemberPage/MemberPassword.html')

    <keep-alive>
      <modal-custom-made v-show="isModalShow" @closemodal="closeHandler">

        <template #header>
          <h2 class="modal__title modal__title--left mb-10  h3">新增地址</h2>
        </template>
        <template #content>
          <!-- 自行決定要傳入什麼 -->
          <div class="form__group block ">
            <label
              for="receiverName"
              class="form__text mb-2 "
            >收件人姓名 </label>
            <div class="form__section mb-5">
              <input
                id="receiverName"
                type="text"
                class=" cart__select form__input"
                placeholder="王小明"
                v-model="receiver.receiverName"
              ></input>
            </div>
            <label
              for="receiverPhone"
              class="form__text mb-2 "
            >聯絡電話</label>
            <div class="form__section mb-5">
              <input
                id="receiverPhone"
                type="text"
                class="cart__select form__input"
                placeholder="0910-123-456"
                v-model="receiver.receiverPhone"
              ></input>
            </div>
            <label
              for="receiverAddresssCode"
              class="form__text mb-2 "
            >郵遞區號</label>
            <div class="form__section mb-5">
              <input
                id="receiverAddresssCode"
                type="email"
                class="cart__select form__input"
                placeholder="300"
                v-model="receiver.receiverAddressCode"
              ></input>
            </div>
          </div>
        </template>
        <template #maintext>
          <!-- 若有文字可以使用 ，也可以關掉-->
          <div class="form__group ">
            <label
              for="address"
              class="form__text "
            >地址</label>
            <div class="form__section mb-5">
              <select
                name=""
                id=""
                class="form__select "
                v-model="receiver.receiverCity"
              >
                <option
                  value=""
                  disabled
                >城市</option>
                <option v-for="(num,index) of selectCity">{{num}}</option>
              </select>
              <select
                name=""
                id=""
                class="form__select "
                v-model="receiver.receiverTown"
                @change="sameAddressCode"
              >
                <option
                  value=""
                  disabled
                >鄉政區</option>
                <option v-for="(num,index) of selectTown">{{num}}</option>
              </select>
            </div>
            <input
              type="text"
              class="form__input  "
              id="address"
              v-model="receiver.receiverRoad"
              placeholder="街/路/巷弄/樓層"
            />
          </div>
        </template>
        <template #footer>
          <div class="d-flex justify-content-end mt-3">
            <button
              class="btn btn--ghost"
              @click="closeHandler"
            >取消</button>
            <button
              @click="saveAddress"
              class="btn "
            >完成</button>
          </div>
        </template>

      </modal-custom-made>
    </keep-alive>





  </div>




  @@include('./components/VueHeader.html') @@include('pages/MemberPage/MemberBar.html') @@include('./components/ModalNormal.html')

  <script>
    new Vue({
      el: '#app',
      mixins: [inputMixins],
      store,
      data: {
        userData: {},
        isModalShow: false,
        cuponList: [{
          disCount: 9,
          disCountText: '折',
          cuponTitle: '【註冊新會員】',
          cuponText: '全項商品不限金額結帳九折優惠',
          cuponTime: '68:08:22',
        }, {
          disCount: null,
          disCountText: '免運',
          cuponTitle: '【黃金會員】',
          cuponText: '宅配享一次免運優惠',
          cuponTime: '2021/03/22',
        }, {
          disCount: null,
          disCountText: '買一送一',
          cuponTitle: '【白金會員】',
          cuponText: '結帳享買一送一',
          cuponTime: '2021/03/22',
        }, {
          disCount: null,
          disCountText: '買一送一',
          cuponTitle: '【生日優惠】',
          cuponText: '全項商品不限金額結帳七折優惠',
          cuponTime: '2021/03/22',
        }],
        user: {
          name: '帳號',
          text: '',
          remind: '',
          inputClass: '',
        },
        phone: {
          name: '電話',
          text: null,
          remind: '',
          inputClass: '',
        },
        userDetail: {
          name: '生日、性別',
          remind: '',
          usersex: '',
          userYear: '',
          userMonth: '',
          userDate: '',
        },
        sexList: ['男', '女'],
        cityList: [],
        receiver: {
          name: '',
          receiverPhone: '',
          receiverName: '',
          receiverCity: '',
          receiverTown: '',
          receiverRoad: '',
          receiverAddressCode: '',
        },
        password: {
          name: '密碼',
          text: '',
          remind: '',
          inputClass: '',
        },
        newPassword: {
          name: '新密碼',
          text: '',
          remind: '',
          inputClass: '',
        },
        confirmPassword: {
          name: '確認密碼',
          text: '',
          remind: '',
          inputClass: '',
        },
        receiverList: [],
        receiverNewList: [],
        // local端
        defaultReceiverList: [],
        defaultAddress: {
          index: '',
          isShow: false,
        },
        addressShow: false,
      },
      methods: {
        // 若有要使用記得加上這個方法控制開關
        openModal() {
          if (this.isModalShow) {
            this.isModalShow = false;
          } else {
            this.isModalShow = true;
          }
        },
        closeHandler() {
          this.isModalShow = false;
        },
        handleInput() {
          const isAllCheck = this.handleRequiredCheck();
          if (isAllCheck) {
            // 更新會員資料
            let gender = 0;
            if (this.userDetail.usersex == "男") {
              gender = 1
            } else {
              gender = 2;
            };
            let month;
            if (this.userDetail.userMonth.length <= 1) {
              month = `0${this.userDetail.userMonth}`;
            } else {
              month = this.userDetail.userMonth;
            };
            let day;
            if (this.userDetail.userDate.length <= 1) {
              day = `0${this.userDetail.userDate}`;
            } else if (this.userDetail.userDate.length >= 2) {
              day = this.userDetail.userDate;
            };

            let birthDay = parseInt(this.userDetail.userYear + month + day);

            let phone = parseInt(this.phone.text);

            phone = '0' + phone;

            // console.log(phone); 

            const params = new URLSearchParams();
            params.append('ID', parseInt(this.memberId));
            params.append('MEMBER_NAME', this.user.text);
            params.append('MEMBER_PHONE', phone);
            params.append('MEMBER_GENDER', gender);
            params.append('MEMBER_BIRTHDAY', birthDay);
            params.append('MEMBER_PHOTO', 'wow');

            axios({
              method: 'post',
              url: 'assets/php/setMemberDetail.php',
              headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
              },
              data: params,
            }).then((res) => {
              console.log(res.data)


            }).catch((error) => {
              console.log(error)

            })



          };
        },
        handlePasswordInput() {
          this.handlePasswordMatchCheck(this.newPassword, this.confirmPassword);
          this.handlePasswordCheck(this.password);
        },

        sameAddressCode() {
          this.receiver.receiverAddressCode = this.selectCode;
        },
        saveAddress() {
          this.receiverList.push(this.receiver);
          this.isModalShow = false;
          let newArray = this.receiverList.map((item) => {
            return {
              name: item.receiverName,
              phone: item.receiverPhone,
              address: item.receiverAddressCode + item.receiverCity + item.receiverTown + item.receiverRoad,
            }
          })
          let loop = JSON.stringify(newArray);
          localStorage.setItem('receiverNewAddress', loop);
        },
        defaultHandler(e, index) {

          if (!this.defaultAddress) {
            this.defaultAddress = true;
          } else {
            this.defaultAddress = false;
          }
        },
        deleteAddress(val) {
          if (this.receiverList[val]) {
            this.receiverList.splice(val, 1);
            localStorage.setItem('receiverNewAddress', JSON.stringify(this.receiverList));
          } else if (localStorage.getItem('receiverAddress') !== null) {
            this.addressShow = false;
            localStorage.removeItem('receiverAddress')
          } else if (localStorage.getItem('receiverNewAddress') !== null) {
            this.receiverNewList.splice(val, 1);
            localStorage.setItem('receiverNewAddress', JSON.stringify(this.receiverNewList));
          }
        }
      },
      computed: {
        inputList() {
          return [this.user, this.phone]
        },
        selectCity() {
          let newCityList = [];
          for (let cityNum in this.cityList) {
            newCityList.push(this.cityList[cityNum]['name']);
          }
          return newCityList;
        },
        selectTown() {
          let newTownList = [];
          for (let cityNum in this.cityList) {
            if (this.cityList[cityNum]['name'] == this.receiver.receiverCity) {
              newTownList = this.cityList[cityNum]['districts'].map((item) => item.name)
            }
          }
          return newTownList;
        },
        selectCode() {
          let newCode = "";
          for (let cityNum in this.cityList) {
            if (this.cityList[cityNum]['name'] == this.receiver.receiverCity) {
              newCode = this.cityList[cityNum]['districts'].filter((item) => item.name == this.receiver
                .receiverTown)
            }
          }
          return newCode[0].zip;
        },
        memberId() {
          return this.$store.state.memberId
        },

      },

      mounted() {
        //local address
        this.receiverNewList = JSON.parse(localStorage.getItem('receiverNewAddress')) || [];
        this.defaultReceiverList = JSON.parse(localStorage.getItem('receiverAddress')) || [];
        this.defaultAddress = JSON.parse(localStorage.getItem('receiverAddressDefault')) || false;

        if (localStorage.getItem('receiverAddress') == null) {
          this.addressShow = false;
        } else {
          this.addressShow = true;
        };


        //地址api
        fetch('./assets/js/taiwan_districts.json', {
          method: "get"
        }).then((res) => {
          return res.json();
        }).then((res) => {
          this.cityList = res;
        });



        //三種方法
        // axios.post('./assets/php/getMemberInfoNofunction.php', {
        //   ID: 1,
        // }).then((res) => {
        //   console.log(res);

        // });


        // async function wow(url) {
        //   try {
        //     let result = await axios.get( // any call like get
        //       url, // your URL
        //       { // data if post, put
        //         ID: 1,
        //       }
        //     );
        //     console.log(result.response.data);
        //   } catch (error) {
        //     console.error(error.response.data); // NOTE - use "error.response.data` (not "error")
        //   }

        // }

        // wow('./assets/php/getMemberInfoNofunction.php');



        // axios.post('./assets/php/getMemberInfoNofunction.php', {
        //   ID: 1,
        // }).then((res) => {
        //   console.log(res);
        // }).catch((error) => {
        //   console.log(error);
        // });




        const params = new URLSearchParams()
        params.append('ID', this.memberId)


        axios({
          method: 'post',
          url: 'assets/php/getMemberInfoNofunction.php',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
          data: params,
        }).then((res) => {
          console.log(res.data)
          let newData;
          newData = res.data.map((item) => {

            return {
              name: item.member_name,
              account: item.member_account,
              gender: item.member_gender,
              address: item.member_address,
              birthday: item.member_birthday,
              phone: item.member_phone,
              photo: item.member_photo,
              password: item.member_member_pwd,
            }
          });
          this.userData = newData[0];

        }).catch((error) => {
          console.log(error)
        })


        console.log(this.userData.birthday !== null);


      }
    });
  </script>


</body>




</html>