.btn-solid{
  border-radius: 8px;
  height:64px;
  border:0;
  cursor: pointer;
  &:hover{
    background-color: #B57700;
  }

  &-disabled{
    border-radius: 8px;
    height:64px;
    border:0;
  }

  &-small{
    border-radius: 8px;
    height: 64px;
    border: 0;
    cursor: pointer;
    &:hover{
      background-color: #B57700;
    }
  }

  &-favorite{
    border-radius: 8px;
    height:64px;
    border:1px solid #E59807;
    &:hover{
      background-color:#F2F2F2;
    }
    
  }
}

.a1{
  display: grid;
  padding: 0;
}

.btn-fluid{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;

    &:hover{
      background-color: #FFF9ED;
    }

    .material-icons{
      line-height: 80px;
    }
  // &-uppage{
  //   width: 80px;
  //   height: 80px;
  //   border-radius: 50%;
  //   border: 0;
  //   cursor: pointer;

  //   display: flex;
  //   flex-direction: column;
  //   // align-items: center;
  //   justify-content: center;
  // }

  &_p{
    margin-top: -15px;
  }
}

// .material-icons{
//   line-height: 80px;  
// }