  <!-- mountain -->
  <section class="mountain mb-30">
      <div class="container swiper-container" id="swiperContainerMountain">
          <ul class="swiper-wrapper">
              <li v-for="(product,index) in productList" class="swiper-slide bg-white py-15 py-xs-5">
                  <div class="display">

                      <header class="display__cover">
                          <h2 class="display__title">{{product.eName}}</h2>
                          <img :src="product.displayImgURL" class="display__img">
                          <div class="carID carID--lg display__carID" :class="bgClass(product.series)">
                              {{product.series}}<span>{{product.seriesId}}</span>
                          </div>
                      </header>
                      <section class="d-flex justify-content-between align-items-center flex-xs-wrap">
                          <div class="mb-xs-2 w-50 w-md-100">
                              <h2 class="h1 mb-1">{{product.name}}</h2>
                              <h3 class="h6 d-inbl mb-5">{{product.eName}} {{product.year}}<span
                                      class="ml-5">尺寸：{{product.size}}</span></h3>
                              <p class="h4 mb-5">{{product.description}}</p>
                              <span class="badge mr-2"
                                  :class="bgClass(product.series)">{{seriesList[product.seriesIndex].name}}</span>

                          </div>
                          <div class="text-right mx-xs-auto">
                              <svg :class="pinClass(product.productId)" width="120" height="120" viewBox="0 0 80 80">
                                  <circle cx="40" cy="40" r="30" stroke-width="4" />
                                  <circle cx="40" cy="40" r="25" stroke-width="2" />
                                  <path d="M 23,30 A 20,20 0 0 1 57,30" stroke-width="1" />
                                  <path d="M 23,50 A 20,20 0 0 0 57,50" stroke-width="1" />
                                  <text x="20" y="48" class="pin__text pin__text--lg">GET</text>
                              </svg>
                              <pin :disabled="!memberHasPin" :series="product.series">
                          </div>
                      </section>
                      <svg role="button" aria-label="prev" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                          viewBox="0 0 52 52"
                          class="icon hover-color-light modal__btn modal__btn--prev swiper-button-prev"
                          :class="productList.indexOf(product)===0?'disabled':''">
                          <g transform="translate(261.207 -282.253) rotate(90)">
                              <path
                                  d="M309.592,244.481a2.5,2.5,0,0,1-1.8-.759l-13.838-14.275a2.5,2.5,0,0,1,3.59-3.48l11.922,12.3,10.353-12.177a2.5,2.5,0,0,1,3.809,3.238L311.5,243.6a2.5,2.5,0,0,1-1.823.879Z"
                                  fill="#522613" />
                          </g>
                      </svg>
                      <svg role="button" aria-label="next" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                          viewBox="0 0 52 52"
                          class="icon hover-color-light modal__btn modal__btn--next swiper-button-next"
                          :class="parseInt(productList.indexOf(product))+1===productList.length?'disabled':''">
                          <g transform="translate(-209.207 334.253) rotate(-90)">
                              <path
                                  d="M309.592,244.481a2.5,2.5,0,0,1-1.8-.759l-13.838-14.275a2.5,2.5,0,0,1,3.59-3.48l11.922,12.3,10.353-12.177a2.5,2.5,0,0,1,3.809,3.238L311.5,243.6a2.5,2.5,0,0,1-1.823.879Z"
                                  fill="#522613" />
                          </g>
                      </svg>
              </li>
          </ul>
      </div>
      <div class="mountain__cars">
          <img src="./assets/img/illust/illust-mountain-car-1.svg" alt="car">
          <img src="./assets/img/illust/illust-mountain-car-3.svg" alt="car">
          <img src="./assets/img/illust/illust-mountain-car-4.svg" alt="car">
          <img src="./assets/img/illust/illust-mountain-car-2.svg" alt="car">
          <img src="./assets/img/illust/illust-mountain-car-5.svg" alt="car">
      </div>
  </section>


  <!-- mountain -->
  <!-- <section class="mountain mb-30">
        <div class="container swiper-container" id="swiperContainerMountain">
            <ul class="swiper-wrapper">
                <li v-for="(product,index) in productList" class="swiper-slide bg-white py-15 py-xs-5">
                    <div class="display">
  
                        <header class="display__cover">
                            <h2 class="display__title">{{product.eName}}</h2>
                            <img :src="product.displayImgURL" class="display__img">
                            <div class="carID carID--lg display__carID" :class="bgClass(product.series)">
                                {{product.series}}<span>{{product.seriesId}}</span>
                            </div>
                        </header>
                        <section class="d-flex justify-content-between align-items-center flex-xs-wrap">
                            <div class="mb-xs-2 w-50 w-md-100">
                                <h2 class="h1 mb-1">{{product.name}}</h2>
                                <h3 class="h6 d-inbl mb-5">{{product.eName}} {{product.year}}<span
                                        class="ml-5">尺寸：{{product.size}}</span></h3>
                                <p class="h4 mb-5">{{product.description}}</p>
                                <span class="badge mr-2"
                                    :class="bgClass(product.series)">{{seriesList[product.seriesIndex].name}}</span>
  
                            </div>
                            <div class="text-right mx-xs-auto">
                                <svg :class="pinClass(product.productId)" width="120" height="120" viewBox="0 0 80 80">
                                    <circle cx="40" cy="40" r="30" stroke-width="4" />
                                    <circle cx="40" cy="40" r="25" stroke-width="2" />
                                    <path d="M 23,30 A 20,20 0 0 1 57,30" stroke-width="1" />
                                    <path d="M 23,50 A 20,20 0 0 0 57,50" stroke-width="1" />
                                    <text x="20" y="48" class="pin__text pin__text--lg">GET</text>
                                </svg>
                                <pin :disabled="!memberHasPin" :series="product.series">
                            </div>
                        </section>
                        <svg role="button" aria-label="prev" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                            viewBox="0 0 52 52"
                            class="icon hover-color-light modal__btn modal__btn--prev swiper-button-prev"
                            :class="productList.indexOf(product)===0?'disabled':''">
                            <g transform="translate(261.207 -282.253) rotate(90)">
                                <path
                                    d="M309.592,244.481a2.5,2.5,0,0,1-1.8-.759l-13.838-14.275a2.5,2.5,0,0,1,3.59-3.48l11.922,12.3,10.353-12.177a2.5,2.5,0,0,1,3.809,3.238L311.5,243.6a2.5,2.5,0,0,1-1.823.879Z"
                                    fill="#522613" />
                            </g>
                        </svg>
                        <svg role="button" aria-label="next" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                            viewBox="0 0 52 52"
                            class="icon hover-color-light modal__btn modal__btn--next swiper-button-next"
                            :class="parseInt(productList.indexOf(product))+1===productList.length?'disabled':''">
                            <g transform="translate(-209.207 334.253) rotate(-90)">
                                <path
                                    d="M309.592,244.481a2.5,2.5,0,0,1-1.8-.759l-13.838-14.275a2.5,2.5,0,0,1,3.59-3.48l11.922,12.3,10.353-12.177a2.5,2.5,0,0,1,3.809,3.238L311.5,243.6a2.5,2.5,0,0,1-1.823.879Z"
                                    fill="#522613" />
                            </g>
                        </svg>
                </li>
            </ul>
        </div>
        <div class="mountain__cars">
            <img src="./assets/img/illust/illust-mountain-car-1.svg" alt="car">
            <img src="./assets/img/illust/illust-mountain-car-3.svg" alt="car">
            <img src="./assets/img/illust/illust-mountain-car-4.svg" alt="car">
            <img src="./assets/img/illust/illust-mountain-car-2.svg" alt="car">
            <img src="./assets/img/illust/illust-mountain-car-5.svg" alt="car">
        </div>
    </section> -->


  <!-- <section class="mountain mb-30">
          <div class="container swiper-container" id="swiperContainerMountain">
              <ul class="swiper-wrapper">
                  <li v-for="(product,index) in products" class="swiper-slide bg-white py-15 py-xs-5">
                      <div class="display">
                          <div class="display__cover">
                              <h2 class="display__title mb-2">{{product.eng}}</h2>
                              <img :src="product.displayImgURL" class="display__img">
                              <div :class="carIDClass(product)">
                                  {{product.series}}<span>{{product.seriesId}}</span>
                              </div>
                          </div>
                          <div class="d-flex justify-content-between  flex-xs-wrap">
                              <div class="mb-xs-2 w-50 w-md-100">
                                  <h3 class="h1 mb-1">{{product.name}}</h3>
                                  <span class="d-inbl mb-5">{{product.eng}} {{product.year}}</span>
                                  <p class="h4 mb-5">{{product.description}}</p>
                                  <span :class="badgeClass(product)">{{chBadge(product)}}</span>
                                  <span v-if="product.extraLabel== 2 || product.extraLabel== 1"
                                      :class="extraLabel(product).className">{{extraLabel(product).text}}</span>
                              </div>
                              <div class="text-right mx-xs-auto">
                                  <svg :class="getPinClass(product)" width="120" height="120" viewBox="0 0 80 80">
                                      <circle cx="40" cy="40" r="30" stroke-width="4" />
                                      <circle cx="40" cy="40" r="25" stroke-width="2" />
                                      <path d="M 23,30 A 20,20 0 0 1 57,30" stroke-width="1" />
                                      <path d="M 23,50 A 20,20 0 0 0 57,50" stroke-width="1" />
                                      <text x="20" y="48" class="pin__text pin__text--lg">GET</text>
                                  </svg>
                                  <pin :disabled="!memberHasPin" :series="product.series">
                              </div>
                          </div>
    
                  </li>
              </ul>
          </div>
          <div class="mountain__cars">
              <img src="./assets/img/illust/illust-mountain-car-1.svg" alt="car">
              <img src="./assets/img/illust/illust-mountain-car-2.svg" alt="car">
              <img src="./assets/img/illust/illust-mountain-car-3.svg" alt="car">
              <img src="./assets/img/illust/illust-mountain-car-4.svg" alt="car">
              <img src="./assets/img/illust/illust-mountain-car-5.svg" alt="car">
          </div>
      </section> -->