  <!-- mountain -->
  <section class="mountain mb-30">
      <!-- <img src="./assets/img/illust/illust-mountain.svg" alt="mountain" class="mountain__img"> -->
      <div class="container swiper-container" id="swiperContainerMountain">
          <ul class="swiper-wrapper">
              <li v-for="(product,index) in products" class="swiper-slide bg-white py-15 py-xs-5">
                  <div class="display">
                      <div class="display__cover">
                          <h2 class="display__title mb-2">{{product.eng}}</h2>
                          <img :src="product.displayImgURL" class="display__img">
                          <div :class="carIDClass(product)">
                              {{product.series}}<span>{{product.seriesId}}</span>
                          </div>
                      </div>
                      <div class="d-flex justify-content-between  flex-xs-wrap">
                          <div class="mb-xs-2 w-50 w-md-100">
                              <h3 class="h1 mb-1">{{product.name}}</h3>
                              <span class="d-inbl mb-5">{{product.eng}} {{product.year}}</span>
                              <p class="h4 mb-5">{{product.description}}</p>
                              <span :class="badgeClass(product)">{{chBadge(product)}}</span>
                              <span v-if="product.extraLabel== 2 || product.extraLabel== 1"
                                  :class="extraLabel(product).className">{{extraLabel(product).text}}</span>
                          </div>
                          <div class="text-right mx-xs-auto">
                              <svg :class="getPinClass(product)" width="120" height="120" viewBox="0 0 80 80">
                                  <circle cx="40" cy="40" r="30" stroke-width="4" />
                                  <circle cx="40" cy="40" r="25" stroke-width="2" />
                                  <path d="M 23,30 A 20,20 0 0 1 57,30" stroke-width="1" />
                                  <path d="M 23,50 A 20,20 0 0 0 57,50" stroke-width="1" />
                                  <text x="20" y="48" class="pin__text pin__text--lg">GET</text>
                              </svg>
                              <!-- pin 收藏大師-->
                              <pin :disabled="!memberHasPin" :series="product.series">
                          </div>
                      </div>

              </li>
          </ul>
      </div>
      <div class="mountain__cars">
          <img src="./assets/img/illust/illust-mountain-car-1.svg" alt="car">
          <img src="./assets/img/illust/illust-mountain-car-2.svg" alt="car">
          <img src="./assets/img/illust/illust-mountain-car-3.svg" alt="car">
          <img src="./assets/img/illust/illust-mountain-car-4.svg" alt="car">
          <img src="./assets/img/illust/illust-mountain-car-5.svg" alt="car">
      </div>
  </section>