<script>
    Vue.component('modal-login', {
        template: `
            <div :class="modalLoginClass">
        <div class="po-ab h-100 w-100" @click="handleCloseModal"></div>
        <div class="modal__group modal__group--sm">
            <svg role="button" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 52 52"
                class="icon modal__btn modal__btn--close" @click="handleCloseModal">
                <g transform="translate(0 0.47)">
                    <line x1="33.493" transform="translate(14.158 13.688) rotate(45)" fill="none"
                        stroke="#522613" stroke-linecap="round" stroke-width="5" />
                    <line x1="33.493" transform="translate(37.842 13.688) rotate(135)" fill="none"
                        stroke="#522613" stroke-linecap="round" stroke-width="5" />
                </g>
            </svg>
            <h2 class="modal__title mb-5">
                登入
            </h2>
            <div class="form__group mb-5">
                <label for="account" class="form__text">帳號</label>
                <input type="text" class="form__input" id="account" placeholder="abc@gmail.com" />
            </div>
            <div class="form__group mb-12">
                <label for="password" class="form__text">密碼</label>
                <input type="text" class="form__input" id="password" placeholder="***" />
            </div>

            <div class="text-right">
                <button class="btn btn--link mb-6">忘記密碼</button>
            </div>
            <button class="btn btn--fluid mb-4" @click="handleLogin">登入</button>
            <button class="btn btn--fluid btn--outline">註冊</button>
        </div>
    </div>
            `,
        props: ['state'],
        methods: {
            handleCloseModal() {
                this.$emit('on-close');
            },
            handleLogin() {
                this.$emit('on-login');
                this.$emit('on-close');
            }
        },
        computed: {
            modalLoginClass() {
                if (this.state) {
                    return {
                        modal: true,
                        "modal-active": true
                    }
                } else {
                    return 'modal '
                }
            }
        },
    });
</script>