  <script>
      Vue.component('reset-password-content', {
          template: '#resetPassword',
          mixins: [inputMixins],
          methods: {
              handlePasswordReset() {
                  this.$emit('reset');
              },
              handleLoginShow() {
                  this.$emit('change', 'login-content');
              },

          }
      });
  </script>
  <template id="resetPassword">
      <form @submit.prevent>
          <h2 class="modal__title mb-5">
              忘記密碼
          </h2>
          <h3 class="h4 mb-10">
              請輸入註冊時的電子信箱，我們會發送一封信，點擊信件中的連結以重設密碼
          </h3>
          <div class="form__group mb-18">
              <label for="account" class="form__text">電子信箱</label>
              <input type="text" class="form__input" id="account" placeholder="abc@gmail.com" />
          </div>
          <button class="btn btn--fluid mb-4" @click.prevent="handlePasswordReset">送出</button>
          <button class="btn btn--link" @click="handleLoginShow">回上一頁</button>
      </form>
  </template>