<script>
    let inputMixins = {
        data() {
            return {

            }
        },
        methods: {
            handleErrorShow(input, message) {
                input.inputClass = 'form__input--warning';
                input.remind = message;
            },
            handleSuccessShow(input) {
                input.inputClass = 'form__input--success';
                input.remind = '';
            },
            handleEmailCheck(input) {
                const re =
                    /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (re.test(input.text)) {
                    this.handleSuccessShow(input);
                } else {
                    this.handleErrorShow(input, '格式不正確');
                }
            },
            handlePasswordCheck(input) {
                let numbers = /[0-9]/g;
                let upperCaseLetters = /[A-Z]/g;
                let lowerCaseLetters = /[a-z]/g;
                if (!input.text.match(upperCaseLetters) || !input.text.match(lowerCaseLetters)) {
                    this.handleErrorShow(input, `${input.name}需包含大小寫`)
                } else if (!input.text.match(numbers)) {
                    this.handleErrorShow(input, `${input.name}需包含數字`)
                } else {
                    this.handleLengthCheck(input, 6, 12);
                }
            },
            handleLengthCheck(input, min, max) {
                if (input.text.length <= min) {
                    this.handleErrorShow(input, `${input.name}需大於 ${min} 個字`)
                } else if (input.text.length >= max) {
                    this.handleErrorShow(input, `${input.name}需小於 ${max} 個字`)
                } else {
                    this.handleSuccessShow(input);
                }
            },
            handleRequiredCheck() {
                this.inputList.forEach(input => {
                    if (input.text.trim() === '') {
                        this.handleErrorShow(input, `${input.name}不能空白`);
                    } else {
                        this.input.remind !== '' && this.handleSuccessShow(input);
                    }
                });
            }

        }
    }
</script>