.logo {
    &__h1 {

        @include text-hide;
        @include size(0px, 0px);
    }

    &:hover &__child {

        animation: childShake 1s ease-in-out infinite both;


    }
}

@keyframes childShake {
    0% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-5px);

    }

    60% {
        transform: translateY(-1px);
    }

    70% {
        transform: translateY(0);

    }

}


.icon {
    cursor: pointer;
    display: inline-block;

    &__link:hover {
        opacity: .7;
    }

    &:hover .hover-fill-coffee {
        fill: $coffee;
    }

    &:hover .hover-stroke-coffee {
        stroke: $coffee;
    }

    &:hover .hover-fill-white {
        fill: $primary-light;
    }

    &:hover .hover-stroke-none {
        stroke: none;
    }

    &.disabled {
        opacity: .5;
        pointer-events: none;
    }

}


.link {
    &:hover {
        opacity: .7;

    }

    &--active {
        position: relative;
        z-index: 10;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 5px;
            height: 16px;
            border-radius: 4px;
            z-index: -1;
            background-color: $primary;
        }

    }
}

.highlight {
    position: relative;
    z-index: 10;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5px;
        height: 16px;
        border-radius: 4px;
        z-index: -1;
        background-color: $primary;
    }
}