.display {
    background-color: #fff;
    max-width: 920px;
    width: 80%;
    margin: 0 auto;
    position: relative;



    @include rwd-lg {
        width: 90%;
    }

    @include rwd-sm {
        width: 95%;
    }

    &__cover {
        position: relative;
        min-height: 420px;
        margin-bottom: 12px;

        @include rwd-xl {
            min-height: 390px;
        }

        @include rwd-lg {
            min-height: 360px;
        }

        @include rwd-md {
            min-height: 260px;
        }

        @include rwd-xs {
            min-height: 220px;
        }
    }

    &__title {
        width: 90%;
        font-size: 100px;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: 2px;
        text-shadow:
            1px 1px 2px $coffee,
            -1px 1px 2px $coffee,
            1px -1px 2px $coffee,
            -1px -1px 2px $coffee;
        color: white;

        @include rwd-lg {
            font-size: 80px;
        }

        @include rwd-md {
            font-size: 68px;
        }

        @include rwd-sm {
            font-size: 48px;
        }

        @include rwd-xs {
            font-size: 40px;
        }
    }

    &__img {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 75%;

        @include rwd-sm {
            width: 100%;
        }
    }

    &__carID {
        position: absolute;
        bottom: 0;
        left: 0;

        @include rwd-sm {
            left: 80%;
        }
    }

    &__description {
        @extend .h4;
        min-height: 56px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        @include rwd-xl {
            -webkit-line-clamp: 3;
            min-height: 84px;
        }

        @include rwd-sm {
            min-height: 66px;
        }

    }



}

.index .display__title {
    @include rwd-md {
        min-height: 300px;
    }
}