.input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    color: $gray-700;
    outline: none;
    border: 1px solid $gray-700;
    margin-bottom: 5px;
    @extend h4;
    &:focus {
        border: 1px solid $gray-700;
    }
    &__text {
        float: left;
        @extend h4;
        &:focus {
            border: 1px solid $gray-700;
        }
        &--waring {
            color: $red;
            float: right;
        }
    }
    &--waring {
        border: 1px solid $red;
        &:focus {
            border: 1px solid $red;
        }
    }
    &--sucess {
        border: 1px solid $green;
        &:focus {
            border: 1px solid $green;
        }
    }
    &--membership {
        border: 1px solid $blue;
        &:focus {
            border: 1px solid $blue;
        }
    }

}
