.modal {
    background-color: #0808084D;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    // opacity: 0;
    // pointer-events: none;
    top: 0;
    left: 0;
    z-index: 2000;
    // transition: opacity .3s ease;

    &__group {
        padding: 48px;
        background-color: $white;
        z-index: 2100;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 540px;
        width: 100%;
    }

    &__group--sm {
        max-width: 440px;
    }

    &__title {
        text-align: center;
        @extend h2;
        @extend .font-medium;

        &--left {
            text-align: left;
            @extend h2;
            @extend .font-bold;
        }
    }

    &__btn {
        position: absolute;

        &:hover {
            opacity: .8;
        }

    }

    &__btn--close {
        top: 10px;
        right: 10px;
        z-index: 100;
    }

    &__btn--prev {
        top: 50%;
        left: -40px;
        transform: translateY(-50%);
    }

    &__btn--next {
        top: 50%;
        right: -40px;
        transform: translateY(-50%);
    }

    &__img {
        display: inline-block;
        vertical-align: middle;
        @include size(72px, 72px);
    }

    &__content {
        text-align: center;
        margin: 10px 0;
        @extend .h4;

        &--left {
            text-align: left;
            margin: 40px 0;
            @extend .h4;
        }
    }

    &__text {
        margin: 40px 0px 10px;
        text-align: center;
        @extend .h4;

        &--left {
            margin: 40px 0px 10px;
            text-align: left;
            @extend .h4;
        }
    }

    &__textGroup {
        text-align: left;
        @extend .h4;
    }

    &__textGroupContent {
        margin: 10px 0;
        @extend .h4;
    }
}

.modal-active {
    opacity: 1;
    pointer-events: auto;
}