.progress {
    display: flex;
    color: $white;
    text-align: center;
    position: relative;
    font-size: 24px;
    &__item {
        @include circle(42px, 42px);
        margin: 0 100px;
        position: relative;
        background-color: $gray-500;
        line-height: 42px;
        @include rwd-md {
            margin: 0 90px;
        }
        @include rwd-sm {
            margin: 0 50px;
        }
        @include rwd-xs {
            margin: 0 30px;
        }
        &::before {
            content: "";
            width: 500%;
            height: 3px;
            position: absolute;
            background-color: $gray-500;
            top: 50%;
            left: 100%;
            @include rwd-sm {
                width: 300%;
            }
            @include rwd-xs {
                width: 150%;
            }
        }
        &:nth-child(3) {
            &::before {
                display: none;
            }
        }
        &:nth-child(4) {
            &::before {
                width: 500%;
            }
        }
        &--active {
            background-color: $secondary;
            &::before {
                content: "";
                width: 500%;
                height: 3px;
                position: absolute;
                background-color: $secondary;
                top: 50%;
                left: 100%;
                @include rwd-sm {
                    width: 300%;
                }
                @include rwd-xs {
                    width: 150%;
                }
            }
        }
    }
    &__text {
        position: absolute;
        width: 150px;
        top: 100%;
        left: -120%;
        color: $black;
        @extend .h3;
    }
}