<div class="container">
  <div class="row">
    <div class="col-7 col-lg-6 col-sm-6 col-xs-6">
      <div class="box">
        <div class="breadcrumb">
          <a href="product.html">
            <p>全部商品</p>
          </a>>
          <a href="">
            <p>{{currentProductList['seriesTag']}}</p>
          </a>>
          <p>{{currentProductList['name']}}</p>
        </div>
        <div class="display__title">{{currentProductList['eName']}}</div>
        <div class="lightBox">
          <figure>
            <img @click="lightBox('car')" class="demo" :src="currentProductList['img1']" alt="" />
          </figure>
          <div :class="{'mask':mask}" v-if="mask">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="(item,index2) in showList">
                  <div class="swiper-zoom-container">
                    <img v-show="nowImg === 0" :src="currentProductList['imgURL']" alt="" class="lazyload" />
                    <img v-show="nowImg === 1" :src="currentProductList['img2']" alt="" class="lazyload" />
                    <img v-show="nowImg === 2" :src="currentProductList['img3']" alt="" class="lazyload" />
                    <img v-show="nowImg === 3" :src="currentProductList['img4']" alt="" class="lazyload" />
                    <img v-show="nowImg === 4" :src="currentProductList['img5']" alt="" class="lazyload" />
                  </div>
                </div>
              </div>
              <!-- 燈箱照片下方swiper的點點 -->
              <div class="swiper-pagination swiper-pagination-white"></div>
              <!-- swiper套件的左右按鈕 -->
              <div @click="prevImg" class="swiper-button-prev"></div>
              <div @click="nextImg" class="swiper-button-next"></div>
              <button class="closeBtn" @click="lightBox('',true)">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <div class="row d-flex justify-content-end">
            <div class="carID carID--lg  mr-8 mt-12" :class=" bgClass(currentProductList['series']) ">
              {{currentProductList['series']}}<span>{{currentProductList['seriesId']}}</span>
            </div>
          </div>
          <div class="gallery ">
            <img :src="currentProductList[ 'imgURL'] " />
            <img :src="currentProductList[ 'img2'] " />
            <img :src="currentProductList[ 'img3'] " />
            <img :src="currentProductList[ 'img4'] " />
            <img :src="currentProductList[ 'img5'] " />
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 col-lg-6 col-sm-6 col-xs-6 ">
      <div class="box-2 ">
        <h2>{{currentProductList['name']}}</h2>
        <h3>{{currentProductList['eName']}}</h3>
        <p>{{currentProductList['description']}}</p>

        <div class="row ">
          <div class="col-12 col-lg-3 col-sm-3 col-xs-3 ">
            <div class="tag ">
              <span class="badge bg-series-PA ">{{currentProductList['seriesTag']}}</span>
              <span class="badge badge--primary ">本月主打</span>
            </div>
          </div>
        </div>
        <!-- <div class="item-price ">NT$ {{list.price}}</div> -->
        <div v-if="currentProductList.price!=0" class="item-price ">
          <p>NT${{currentProductList['price']}}</p>
        </div>
        <div class="card__details" v-else>
          <div class="cart__member">
            <p>Ni</p>
            <span>{{currentProductList['points']}}</span>
          </div>
        </div>

        <div>數量</div>
        <div class="select-style ">
          <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
        <div class="row mt-10 mb-10 ">
          <div class="col-12 col-lg-6 col-sm-6 col-xs-6 ">
            <button class="btn btn--fluid " @click="addCurrentCar ">加入購物車</button>
          </div>
          <div class="col-12 col-lg-6 col-sm-6 ">
            <button class="btn btn--fluid btn--outline " @click="likeCarts ">加入收藏</button>
          </div>
        </div>

        <div class="info-buy ">
          <div>商品購買須知</div>
          <div class="icon-down ">
            <img src="./assets/img/icon/icon-down.svg " alt=" " />
          </div>
        </div>
        <hr />
        <div class="lorem ">
          <p>
            消費者享有商品貨到後七日猶豫期（含例假日）的權益 ( 收到商品後隔天起算為第一天)。 欲退購者，請於猶豫期內提出，逾期恕不受理。 退回的商品必須是全新狀態、且還原完整包裝（含商品本體、配件、贈品、保證書、原廠包裝（袋、盒、紙）
          </p>
        </div>
        <div class="info-ship ">
          <div>運送相關須知</div>
          <div class="icon-down2 ">
            <img src="./assets/img/icon/icon-down.svg " alt=" " />
          </div>
        </div>
        <hr />
        <div class="lorem2 ">
          <p>
            下單後依訂單收件順序開始寄送；收件地址若為郵政信箱恕無法寄送。 商品若經配送 1 次無法送達，並經本公司以電話與 E-mail 均無法聯繫消費者逾三天者，或於到貨時拒收商品者，本公司將取消該筆訂單。
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-12 col-sm-12 col-xs-12 ">
      <div class="box-pink ">
        <h3>熱門推薦商品</h3>
      </div>
    </div>
    <div class="col-3 col-lg-3 col-sm-4 " v-for="(item,index) of recommendProductList ">
      <div class="box-blue ">
        <div class="reImg "><img :src="item.img " @click="nowProduct(item) " /></div>
        <div class="item-card ">
          <div>{{item.name}}</div>
          <div class="product-collect ">
            <div>NT {{item.price}}</div>
            <!-- <div class="collect ">收藏</div> -->
          </div>
          <!-- <div class="row mt-10 mb-10 ">
                        <div class="col-12 col-lg-12 col-sm-4 ">
                            <button class="btn btn--fluid ">加入購物車</button>
                        </div>
                    </div> -->
        </div>
      </div>
    </div>
    <!-- <div class="col-3 col-lg-3 col-sm-4 ">
            <div class="box-blue ">
                <a href="# "> <img :src="list.imgURL[3] " /></a>
                <div class="item-card ">
                    <div>{{list.productName}}</div>
                    <div class="product-collect ">
                        <div>NT {{list.price}}</div>
                        <div class="collect ">收藏</div>
                    </div>
                    <div class="row mt-10 mb-10 ">
                        <div class="col-12 col-lg-12 col-sm-4 ">
                            <button class="btn btn--fluid ">加入購物車</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- <div class="col-3 col-lg-3 col-sm-4 ">
            <div class="box-blue ">
                <a href="# "> <img :src="list.imgURL[3] " /></a>
                <div class="item-card ">
                    <div v-for="(name, 0) in recommendProductList ">{{ 0 }} / {{ name }}</div>
                    <div class="product-collect ">
                        <div>NT {{list.price}}</div>
                        <div class="collect ">收藏</div>
                    </div>
                    <div class="row mt-10 mb-10 ">
                        <div class="col-12 col-lg-12 col-sm-4 ">
                            <button class="btn btn--fluid ">加入購物車</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- <div class="col-3 col-lg-3 col-sm-4 ">
            <div class="box-blue ">
                <a href="# "> <img :src="list.imgURL[3] " /></a>
                <div class="item-card ">
                    <div>{{list.productName}}</div>
                    <div class="product-collect ">
                        <div>NT {{list.price}}</div>
                        <div class="collect ">收藏</div>
                    </div>
                    <div class="row mt-10 mb-10 ">
                        <div class="col-12 col-lg-12 col-sm-4 ">
                            <button class="btn btn--fluid ">加入購物車</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
  </div>
</div>