<div class="container">
    <div class="row">
        <div class="col-3 col-lg-6 col-sm-6">
            <div class="item-menu">
                <li class="item" id="all-items">
                    <a href="#all-items" class="menu-btn">全部商品</a>
                    <div class="smenu">
                        <a href="#">轎車系</a>
                        <a href="#">工程車系</a>
                        <a href="#">RV休旅車系</a>
                        <a href="#">計程車系</a>
                        <a href="#">巴士系</a>
                        <a href="#">警車系</a>
                        <a href="#">消防系</a>
                        <a href="#">救護系</a>
                        <a href="#">Premium系</a>
                    </div>
                </li>

                <li class="item" id="year-items">
                    <a href="#year-items" class="menu-btn">年份分車</a>
                    <div class="smenu">
                        <a href="#">1970</a>
                        <a href="#">1990</a>
                        <a href="#">2010</a>
                    </div>
                </li>

                <li class="item" id="new-items">
                    <a href="#new-items" class="menu-btn">最新商品</a>
                    <div class="smenu">
                        <a href="#">Audi TT Coupe</a>
                        <a href="#">Lamborghini Urus</a>
                    </div>
                </li>

                <li class="item" id="hot-items">
                    <a href="#hot-items" class="menu-btn">熱門商品</a>
                    <div class="smenu">
                        <a href="#">Audi TT Coupe</a>
                        <a href="#">Lamborghini Urus</a>
                    </div>
                </li>

                <li class="item" id="hightlight-items">
                    <a href="#hightlight-items" class="menu-btn">本月主打</a>
                    <div class="smenu">
                        <a href="#">Audi TT Coupe</a>
                        <a href="#">Lamborghini Urus</a>
                    </div>
                </li>

                <li class="item" id="point-items">
                    <a href="#point-items" class="menu-btn">點數限定</a>
                    <div class="smenu">
                        <a href="#">Audi TT Coupe</a>
                        <a href="#">Lamborghini Urus</a>
                    </div>
                </li>
            </div>
            <!-- <div class="product__header">
            <div class="product__over">
                <p class="product__header_body">全部商品</p>
                <ul class="product__header_series">
                    <li><a href="#">轎車系</a></li>
                    <li><a href="#">工程系</a></li>
                    <li><a href="#">RV休旅系</a></li>
                    <li><a href="#">計程車系</a></li>
                    <li><a href="#">巴士系</a></li>
                    <li><a href="#">警車系</a></li>
                    <li><a href="#">消防系</a></li>
                    <li><a href="#">救護系</a></li>
                    <li><a href="#">PREMIUM系</a></li>
                </ul>
                <p class="product__header_body">年份分車</p>
                <ul class="product__header_series">
                    <li><a href="#">1970年</a></li>
                    <li><a href="#">1990年</a></li>
                    <li><a href="#">2010年</a></li>
                </ul>
                <p class="product__header_body">最新商品</p>
                <p class="product__header_body">熱門商品</p>
                <p class="product__header_body">本月主打</p>
                <p class="product__header_body">點數限定</p>
            </div>
        </div> -->
        </div>

        <ul class="col-9" style="margin-top: 200px">
            <div class="row">
                <div class="col-9">
                    <select class="area" v-model="filter">
                        <option value="" disabled>-- 請選擇 --</option>
                        <option value="依上架時間">最新上架</option>
                        <option value="依價格">依價格(由高至低)</option>
                        <option value="依價格">依價格(由低至高)</option>
                        <option value="依銷售度">熱門銷售</option>
                    </select>
                </div>

                <ul class="col-9">
                    <div class="row">
                        <li class="col-4 col-xl-4 col-lg-6 col-sm-4" v-for="(item,index) in sortArray">
                            <!--card-->

                            <a href="itemdetail.html" class="card">
                                <div class="card__header">
                                    <img :src="item.imgURL"/>
                                    <div class="card__carID bg-series-BS">BS<span>{{item.seriesId}}</span></div>
                                    <span class="card__label">本月主打</span>
                                </div>
                                <div class="card__body">
                                    <h2 class="card__title">{{item.productName}}</h2>
                                    <div class="card__details">
                                        <p class="card__price">NT$ <span>{{item.price}}</span></p>
                                        <button class="card__link">收藏</button>
                                    </div>
                                </div>
                                <button class="btn btn--fluid btn--outline" @click="addCarts(item)" >加入購物車</button>
                            </a>
                        </li>
                        <!---->
                    </div>
                </ul>
                <!---- 頁籤 ---->
                <ul class="col-12">
                    <div class="row">
                        <div class="page col-4 col-lg-6 col-sm-12 justify-content-center">
                            <div class="page_btn_nb"></div>
                        </div>
                        <nav aria-label="...">
                            <ul class="d-flex pagination">
                                <li class="page-item disabled">
                                    <a
                                        class="page-link"
                                        href="#"
                                        tabindex="-1"
                                        aria-disabled="true"
                                        @click.prevent="prev"
                                        ><span
                                            class="material-icons material-icons-md text-dark-primary text-left"
                                            aria-hidden="true"
                                            >chevron_left</span
                                        ></a>
                                    
                                </li>
                                <!-- <li
                                    class="page-item"
                                    :class="{active:currentPage === page - 1}"
                                    v-for="page in filterData.length"
                                >
                                    <a class="page-link" href="#" @click.prevent="currentPage = (page - 1)"
                                        >{{ page }}</a
                                    >
                                </li> -->
                                <li class="page-item">
                                    <a class="page-link" href="#" @click.prevent="next"
                                        ><span class="material-icons text-dark-primary text-left" aria-hidden="true"
                                            >chevron_right</span
                                        ></a
                                    >
                                </li>
                            </ul>
                        </nav>
                    </div>
                </ul> 
            </div>
        </ul>
    </div>
</div>
