<div class="container mb-10">
  <div class="row  mt-xs-1 member__info mt-15">
    <section class="member__data d-flex w-100">
      <h2 id="memberPassword">更改密碼</h2>
      <button
        :class="checkLogin.class"
        @click="handlePasswordInput"
      >{{checkLogin.text}}</button>
    </section>
  </div>
  <div class="row  member__info py-10">
    <div class="member__address   w-100">
      <div class="member__address--right col-6 col-lg-6">
        <ul>
          <li class="mb-5">
            <label
              for="passWord"
              class="member__password"
            >目前密碼 :
              <span
                v-if="password.remind!==''"
                class="form__text form__text--warning"
              >{{password.remind}}</span>
            </label>
            <input
              type="text"
              class="form__input"
              :class="password.inputClass"
              v-model.lazy="password.text"
              id="passWord"
              placeholder="請輸入密碼"
            />
          </li>
          <li class="mb-5">
            <label
              for="newPassWord"
              class="member__password member__password--pr "
            >新密碼 :
              <span
                v-if="newPassword.remind!==''"
                class="form__text form__text--warning"
              >{{newPassword.remind}}</span>
            </label>
            <input
              type="text"
              class="form__input"
              :class="newPassword.inputClass"
              v-model.lazy="newPassword.text"
              id="newPassWord"
              placeholder="請輸入新密碼"
            />
          </li>
          <li class="mb-5">
            <label
              for="confirmPassword"
              class="member__password"
            >確認密碼 :
              <span
                v-if="confirmPassword.remind!==''"
                class="form__text form__text--warning"
              >{{confirmPassword.remind}}</span>
            </label>
            <input
              type="text"
              class="form__input"
              :class="confirmPassword.inputClass"
              v-model.lazy="confirmPassword.text"
              id="confirmPassword"
              placeholder="請輸入新密碼"
            />
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>